@model HealthyLineProject.Models.FoodMainCategoriesModel
@using R
@using (Html.BeginForm())
{
    <h1>@Resource.CalorieGuide</h1>
   <table class="table">
        <thead class=" table-bordered h3 table-hover  bg-warning"  >
            <tr>
                <th scope="col">#</th>
                <th scope="col">@Resource.BREAD1</th>
                <th scope="col">@Resource.cals2 (100g)</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>@Resource.Bagel1 </td>
                <td>140 @Resource.cals2  </td>

            </tr>
            <tr>
                <th scope="row">2</th>
                <td>@Resource.Biscuit1 </td>
                <td>86 @Resource.cals2 </td>

            </tr>
            <tr>
                <th scope="row">3</th>
                <td>@Resource.Jaffa1 </td>
                <td>48 @Resource.cals2  </td>

            </tr>
            <tr>
                <th scope="row">4</th>
                <td>@Resource.Breadd1 </td>
                <td>96 @Resource.cals2  </td>

            </tr>
            <tr>
                <th scope="row">5</th>
                <td>@Resource.Breadd11</td>
                <td>88 @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td> @Resource.Chapatis1</td>
                <td>250 @Resource.cals2  </td>

            </tr>
            <tr>
                <th scope="row">7</th>
                <td>@Resource.Cornflakes1 </td>
                <td> 130 @Resource.cals2 </td>

            </tr>
            <tr>
                <th scope="row">8</th>
                <td>@Resource.Bread2</td>
                <td>13 @Resource.cals2  </td>

            </tr>
            <tr>
                <th scope="row">9</th>
                <td> @Resource.Crackerbread1 </td>
                <td> 17 @Resource.cals2  </td>

            </tr>
            <tr>
                <th scope="row">10</th>
                <td> @Resource.Creamcrackers1</td>
                <td>93 @Resource.cals2 </td>

            </tr>
            <tr>
                <th scope="row">11</th>
                <td> @Resource.Crumpets1</td>
                <td>320 @Resource.cals2 </td>

            </tr>
            <tr>
                <th scope="row">12</th>
                <td>@Resource.Macaroni1  </td>
                <td>428 @Resource.cals2  </td>

            </tr>
            <tr>
                <th scope="row">13</th>
                <td>@Resource.Muesli1 </td>
                <td>140 @Resource.cals2  </td>

            </tr>
            <tr>
                <th scope="row">14</th>
                <td>@Resource.Naan1</td>
                <td>195 @Resource.cals2  </td>

            </tr>
            <tr>
                <th scope="row">15</th>
                <td> @Resource.Noodels1 </td>
                <td>175 @Resource.cals2  </td>

            </tr>
            <tr>
                <th scope="row">16</th>
                <td>@Resource.Anchovies2 </td>
                <td>300 @Resource.cals2  </td>
            </tr>
            <tr>
                <th scope="row">17</th>
                <td>@Resource.Rice1</td>
                <td>300  @Resource.cals2  </td>
            </tr>
            <tr>
                <th scope="row">18</th>
                <td>@Resource.Noodels1  </td>
                <td>320 @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">19</th>
                <td>@Resource.Chicken2 </td>
                <td>220  @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">20</th>
                <td>@Resource.Anchovies2 </td>
                <td>300 @Resource.cals2  </td>
            </tr>
            <tr>
                <th scope="row">21</th>
                <td>@Resource.Beef21 </td>
                <td>300  @Resource.cals2   </td>
            </tr>
            <tr>
                <th scope="row">22</th>
                <td>@Resource.Rice1  </td>
                <td>320 @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">23</th>
                <td>@Resource.Naan1 </td>
                <td>220  @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">24</th>
                <td>@Resource.Anchovies2  </td>
                <td>300 @Resource.cals2  </td>
            </tr>
            <tr>
                <th scope="row">25</th>
                <td>@Resource.Rice1 </td>
                <td>300  @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">26</th>
                <td>@Resource.Nutbutter2 </td>
                <td>320 @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">27</th>
                <td>@Resource.Potatoes1</td>
                <td>220 @Resource.cals2  </td>
            </tr>


            @*</tbody>
        </table>
         <table class="table">
             <thead class="table-responsive-smk">
                 <tr>
                     <th scope="col">#</th>
                     <th scope="col">@Resource.Meats2 </th>
                     <th scope="col">@Resource.cals2 (100g) </th>

                 </tr>
             </thead>
             <tbody>*@
            <tr class="disabled h3 table-bordered table-hover bg-info">
                <th scope="row">#</th>
                <td>@Resource.Meats2 @*Anchovies tinned*@  </td>
                <td> @Resource.cals2 (100g) </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>@Resource.Anchovies2 @*Anchovies tinned*@  </td>
                <td>300 @Resource.cals2  </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>@Resource.Beef21 </td>
                <td>300  @Resource.cals2  </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>@Resource.Beefburgers2  </td>
                <td>320 @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>@Resource.Chicken2 </td>
                <td>220  @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>@Resource.Cockles2 </td>
                <td>50  @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>@Resource.Codfresh2  </td>
                <td>48 @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>@Resource.chip2 </td>
                <td>140  @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>@Resource.Crabfresh2 </td>
                <td>200 @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>@Resource.Duckroast2  </td>
                <td>400 @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td>@Resource.Fishcake2 </td>
                <td>90 @Resource.percake2 </td>
            </tr>
            <tr>
                <th scope="row">11</th>
                <td>@Resource.Fishfingers2 </td>
                <td>50  @Resource.perpiec2 </td>
            </tr>
            <tr>
                <th scope="row">12</th>
                <td>@Resource.Haddock2  </td>
                <td>200  @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">13</th>
                <td>@Resource.Halibutfresh2 </td>
                <td>220  @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">14</th>
                <td>@Resource.Herring2 </td>
                <td>300   @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">15</th>
                <td> @Resource.Kidney2</td>
                <td>200 @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">16</th>
                <td>@Resource.Kipper2 </td>
                <td>200 @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">17</th>
                <td> @Resource.Liver2</td>
                <td>200  @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">18</th>
                <td>@Resource.Liverpate2 </td>
                <td>150  @Resource.cals2  </td>
            </tr>

            <tr>
                <th scope="row">19</th>
                <td>@Resource.Lamb2  </td>
                <td>300 @Resource.cals2  </td>
            </tr>
            <tr>
                <th scope="row">20</th>
                <td>@Resource.Lobsterboiled2 </td>
                <td>300  @Resource.cals2  </td>
            </tr>
            <tr>
                <th scope="row">21</th>
                <td>@Resource.Luncheon2  </td>
                <td>300  @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">22</th>
                <td>@Resource.Mackeral2 </td>
                <td>320  @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">23</th>
                <td>@Resource.Mussels2 </td>
                <td>90  @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">24</th>
                <td>@Resource.Pheasantroast2  </td>
                <td>200 @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">25</th>
                <td>@Resource.Pilchards2 </td>
                <td>140  @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">26</th>
                <td>@Resource.Turkey2 </td>
                <td>200 @Resource.cals2 </td>
            </tr>
            @*</tbody>
        </table>

        <table class="table">
            <thead class="table-responsive-lg">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">@Resource.Vegetablesff2 </th>
                    <th scope="col">@Resource.cals2 (100g) </th>

                </tr>
            </thead>
            <tbody>*@
            <tr class="disabled h3 table-bordered table-hover bg-danger">
                <th scope="row">#</th>
                <td>@Resource.Vegetablesff2   </td>
                <td> @Resource.cals2 (100g) </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>@Resource.Apple3  </td>
                <td>44 @Resource.cals2  </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>@Resource.Banana3 </td>
                <td>107 @Resource.cals2  </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>@Resource.Beansbakedbeans3  </td>
                <td>170 @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>@Resource.Beansdried3 </td>
                <td>180  @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>@Resource.Blackberries3  </td>
                <td>25  @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>@Resource.Blackcurrant3  </td>
                <td>30 @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>@Resource.Broccoli3 </td>
                <td>27  @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>@Resource.Cabbage3 </td>
                <td>15 @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>@Resource.Carrot3  </td>
                <td>16 @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td>@Resource.Cauliflower3 </td>
                <td>20 @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">11</th>
                <td>@Resource.Celeryi3 </td>
                <td>5   @Resource.cals2  </td>
            </tr>
            <tr>
                <th scope="row">12</th>
                <td>@Resource.Cherry3  </td>
                <td>35  @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">13</th>
                <td>@Resource.Courgette3 </td>
                <td>8  @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">14</th>
                <td>@Resource.Cucumber3 </td>
                <td>3 @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">15</th>
                <td> @Resource.Dates3</td>
                <td>100 @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">16</th>
                <td>@Resource.Grapes3 </td>
                <td>55 @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">17</th>
                <td> @Resource.Grapefruit3</td>
                <td>32  @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">18</th>
                <td>@Resource.Kiwi3 </td>
                <td>40  @Resource.cals2  </td>
            </tr>

            <tr>
                <th scope="row">19</th>
                <td>@Resource.Lentils3 </td>
                <td>150 @Resource.cals2  </td>
            </tr>
            <tr>
                <th scope="row">20</th>
                <td>@Resource.Lettuce3 </td>
                <td>4  @Resource.cals2  </td>
            </tr>
            <tr>
                <th scope="row">21</th>
                <td>@Resource.Melon3 </td>
                <td>14  @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">22</th>
                <td>@Resource.Mushrooms3 </td>
                <td>12  @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">23</th>
                <td>@Resource.Olives3 </td>
                <td>50  @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">24</th>
                <td>@Resource.Onion3  </td>
                <td>14 @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">25</th>
                <td>@Resource.Orange3 </td>
                <td>40  @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">26</th>
                <td>@Resource.Peas3 </td>
                <td>210 @Resource.cals2 </td>
            </tr>
            @*</tbody>
        </table>



        <table class="table">
            <thead class="table-responsive-xl">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">@Resource.Dairyproduce4 </th>
                    <th scope="col">@Resource.cals2 (100g)</th>

                </tr>
            </thead>
            <tbody>*@
            <tr class="disabled h3 table-bordered table-hover bg-success">
                <th scope="row">#</th>
                <td>@Resource.Dairyproduce4   </td>
                <td> @Resource.cals2 (100g)  </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>@Resource.Cheese4  </td>
                <td>110 @Resource.cals2  </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>@Resource.Cheddar4 </td>
                <td>130 @Resource.cals2  </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>@Resource.Cottage4  </td>
                <td>130 @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>@Resource.Cream4 </td>
                <td>200  @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>@Resource.Custard4  </td>
                <td>210  @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>@Resource.Eggs4  </td>
                <td>90 @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>@Resource.Ice4 </td>
                <td>200  @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>@Resource.Milk4 </td>
                <td>157 @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>@Resource.MilkSoya4  </td>
                <td>90 @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td>@Resource.Mousse4 </td>
                <td>120 @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">11</th>
                <td>@Resource.Omelette4 </td>
                <td>300   @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">12</th>
                <td>@Resource.Trifle4  </td>
                <td>290  @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">13</th>
                <td>@Resource.Yogurt4 </td>
                <td>90  @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">14</th>
                <td>@Resource.Milkskimmed4 </td>
                <td>95    @Resource.cals2 </td>
            </tr>

            @*</tbody>
        </table>

        <table class="table">
            <thead class="table-responsive-xl">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">@Resource.Fats5 </th>
                    <th scope="col">@Resource.cals2 (100g) </th>

                </tr>
            </thead>
            <tbody>*@
            <tr class="disabled h3 table-bordered table-hover bg-primary ">
                <th scope="row">#</th>
                <td>@Resource.Fats5   </td>
                <td> @Resource.cals2 (100g)  </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>@Resource.PUREFAT5  </td>
                <td>900  @Resource.cals2  </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>@Resource.Bombay5 </td>
                <td>500 @Resource.cals2  </td>
            </tr>=\[]
            <tr>
                <th scope="row">3</th>
                <td>@Resource.Butter5  </td>
                <td>750 @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>@Resource.Chewing5 </td>
                <td>-- </td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>@Resource.Chocolate5  </td>
                <td>500  @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>@Resource.Codliver5  </td>
                <td>900 @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>@Resource.Cornsnack5  </td>
                <td>900  @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>@Resource.Crisps5 </td>
                <td>500 @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>@Resource.Honey  </td>
                <td>280 @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td>@Resource.Jam5 </td>
                <td>250 @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">11</th>
                <td>@Resource.Low5 </td>
                <td>400    @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">12</th>
                <td>@Resource.Margarine5  </td>
                <td>750   @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">13</th>
                <td>@Resource.Mint5 </td>
                <td>-- </td>
            </tr>
            <tr>
                <th scope="row">14</th>
                <td>@Resource.Oils5 </td>
                <td>3    @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">15</th>
                <td> @Resource.Popcorn5</td>
                <td>460  @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">16</th>
                <td>@Resource.Sugarwhite5  </td>
                <td>400 @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">17</th>
                <td> @Resource.Sweets5</td>
                <td>300  @Resource.cals2 </td>
            </tr>
            <tr>
                <th scope="row">18</th>
                <td>@Resource.Syrup5 </td>
                <td>300  @Resource.cals2  </td>
            </tr>

            <tr>
                <th scope="row">19</th>
                <td>@Resource.Toffee5 </td>
                <td>400 @Resource.cals2  </td>
            </tr>


        </tbody>
    </table>
}


