@using R

<fieldset>
    <legend>@Resource.Atkinsdiet </legend>
    <div>
        <h1>
            @Resource.Atkinsdiet
        </h1>
        <img src="~/Content/Images/dit1.jpg" width="500px" height="300px " />

        @*<h2>
            You should avoid these foods on the Atkins diet:

        </h2>*@
        <h1>
            @Resource.toAvoid
        </h1>
        <ul>
            <li>
                Sugar: Soft drinks, fruit juices, cakes, candy, ice cream, etc.

            </li>
            <li>
                Grains: Wheat, spelt, rye, barley, rice.

            </li>
            <li>
                Vegetable oils: Soybean oil, corn oil, cottonseed oil, canola oil and a few others.

            </li>
            <li>
                Trans fats: Usually found in processed foods with the word "hydrogenated" on the ingredients list.

            </li>
            <li>
                "Diet" and "low-fat" foods: These are usually very high in sugar.

            </li>
            <li>
                High-carb vegetables: Carrots, turnips, etc (induction only).

            </li>
            <li>
                High-carb fruits: Bananas, apples, oranges, pears, grapes (induction only).

            </li>
            <li>
                Starches: Potatoes, sweet potatoes (induction only).

            </li>
            <li>
                Legumes: Lentils, beans, chickpeas, etc.

            </li>
        </ul>


        <h1>
            @Resource.toEat
        </h1>
        @*<h2>
            You should base your diet around these healthy foods.

        </h2>*@
        <ul>
            <li>
                Meats: Beef, pork, lamb, chicken, bacon and others.

            </li>
            <li>
                Fatty fish and seafood: Salmon, trout, sardines, etc.

            </li>
            <li>
                Eggs: The healthiest eggs are omega-3 enriched or pastured.

            </li>
            <li>
                Low-carb vegetables: Kale, spinach, broccoli, asparagus and others.

            </li>
            <li>
                Full-fat dairy: Butter, cheese, cream, full-fat yogurt.

            </li>
            <li>
                Nuts and seeds: Almonds, macadamia nuts, walnuts, sunflower seeds, etc.

            </li>
            <li>
                Healthy fats: Extra virgin olive oil, coconut oil, avocados and avocado oil.

            </li>
        </ul>

        <p>
            @Resource.menu
        </p>
        @*<p>
            It’s suitable for the induction phase, but you should add more higher-carb vegetables and some fruits as you move on to the other phases.
        </p>*@

        <h2>@Resource.DayOne</h2>
        <ul>
            <li>
                <label>@Resource.Breakfast</label>   : Bacon and eggs.

            </li>
            <li>
                <label>@Resource.Lunch</label>  : Leftover chicken and veggies from the night before.

            </li>
            <li>
                <label>@Resource.Dinner</label>    : Bunless cheeseburger, with vegetables and butter.

            </li>
        </ul>
        <h2>@Resource.DayTwo</h2>
        <ul>
            <li>
                <label>@Resource.Breakfast</label>: Bacon and eggs.

            </li>
            <li>
                <label>@Resource.Lunch</label>: Leftover chicken and veggies from the night before.
            </li>
            <li>
                <label>@Resource.Dinner</label> : Bunless cheeseburger, with vegetables and butter.

            </li>
        </ul>
        <h2>
            @Resource.DayThree
        </h2>
        <ul>
            <li>
                <label>@Resource.Breakfast</label>: Omelet with veggies, fried in butter.

            </li>
            <li>
                <label>@Resource.Lunch</label>: Shrimp salad with some olive oil.

            </li>
            <li>
                <label>@Resource.Dinner</label> : Ground-beef stir fry, with veggies.

            </li>
        </ul>
        <h2>
            @Resource.DayFour
        </h2>
        <ul>
            <li>
                <label>@Resource.Breakfast</label>: Bacon and eggs.

            </li>
            <li>
                <label>@Resource.Lunch</label>: Leftover chicken and veggies from the night before.

            </li>
            <li>
                <label>@Resource.Dinner</label> : Bunless cheeseburger, with vegetables and butter.

            </li>
        </ul>

        <h2>@Resource.DayFive </h2>
        <ul>
            <li>
                <label>@Resource.Breakfast</label>: Bacon and eggs.

            </li>
            <li>
                <label>@Resource.Lunch</label>: Chicken salad with olive oil and a handful of nuts.

            </li>
            <li>
                <label>@Resource.Dinner</label> : Meatballs with vegetables.

            </li>
        </ul>
        <h2>
            @Resource.DaySix
        </h2>
        <ul>
            <li>
                <label>@Resource.Breakfast</label>: Omelet with various vegetables, fried in butter.

            </li>
            <li>
                <label>@Resource.Lunch</label>: Leftover meatballs from the night before.

            </li>
            <li>
                <label>@Resource.Dinner</label> : Pork chops with vegetables.

            </li>
        </ul>
        <h2>@Resource.DaySeven </h2>
        <ul>
            <li>
                <label>@Resource.Breakfast</label>: Bacon and eggs.

            </li>
            <li>
                <label>@Resource.Lunch</label>: Leftover pork chops from the night before.

            </li>
            <li>
                <label>@Resource.Dinner</label> : Grilled chicken wings, with some salsa and veggies.

            </li>
        </ul>


    </div>

</fieldset>
