@using R

<div id="loginbar1">
    <div class="center">
        <div id="loginctrl1">
            <p>
                <label>@Resource.Atkins</label>
                @*The  diet focuses specifically on controlling insulin levels through a low-carb (or sugary) diet. This is because the consumption of large amounts of refined carbohydrates leads to high insulin levels and then drops rapidly, and this incites the body to store energy from the food that was consumed, which excludes the possibility that the body will use the stored fat as a source of energy. Therefore, those who follow this diet can eat whatever they want of protein and fats, but they should avoid carbohydrates. But some indicate that there are health risks to this diet, which makes it better to consult a doctor before starting it.*@

            </p>
            <a href="@Url.Content("~/diteprograms/Atkinsdiet")">@Resource.Atkinsdiet </a>
            <p class="line">------------------------------------------------------------------------------------------------------</p>
            <p>
                <label>@Resource.Zone</label>
                @*This diet aims to achieve a nutritional balance by consuming 40% carbohydrates, 30% fats and 30% protein in each meal. The main goal is to control insulin levels, which will achieve better results in weight loss or control. This diet encourages consumption of high-quality and unrefined carbohydrates in addition to some fats such as olive oil, avocado and nuts.*@
            </p>
            <a href="@Url.Content("~/diteprograms/Zonediet")"> @Resource.Zonediet </a>
            <p class="line">------------------------------------------------------------------------------------------------------</p>

            <p>
                <label>@Resource.Ketogenic</label>
                @*This diet mainly aims to reduce carbohydrate consumption and increase the consumption of healthy fats such as avocado, coconut, brazilian nuts, fatty fish seeds and olive oil. This may sound illogical to some, but it allows the body to focus on burning fat and using it as an energy source. This diet causes the accumulated fat to be destroyed and converted into products called ketones. However, it carries a risk of developing hyperkitonemia in patients with type 1 diabetes, but studies are still ongoing.*@
            </p>

            <a href="@Url.Content("~/diteprograms/Ketogenicdiet")">@Resource.Ketogenicdiet</a>
            <p class="line">------------------------------------------------------------------------------------------------------</p>

            <p>
                <label>@Resource.Vegetarian</label>
                @*There are several types of plant-based diets such as the milk-based or egg-based diet or the half-vegetarian diet, but the most common is the vegetable diet with eggs and milk, that is, the person who is committed to it does not eat meat or animal products except for milk, eggs and honey. Studies show that vegetarians were less weight, healthier, and longer-lived compared to carnivores.*@
            </p>
            <a href="@Url.Content("~/diteprograms/Vegetariandiet")">@Resource.Vegetariandiet</a>
            <p class="line">------------------------------------------------------------------------------------------------------</p>

            <p>
                <label>@Resource.Vegan<label>
                @*This diet is considered a philosophy more than a diet, so followers of this diet do not eat any food from animal origin such as milk, eggs or honey, and they never eat meat. This diet has ethical and environmental goals and principles in addition to nutritional goals. They think that eating only vegetarian food will benefit people, health and the environment and cause less suffering to animals.*@
            </p>
            <a href="@Url.Content("~/diteprograms/Vegandiet")">@Resource.Vegandiet </a>
            <p class="line">---------------------------------------------------------------------------</p>

            <p>
                <label>@Resource.WeightWatchers</label>
                @*This diet focuses on losing weight through a specific diet, exercise and social support network. Weight Watchers is a global company with branches around the world, started in the sixties of the last century by a woman who lost some weight and feared to gain it again, so she formed a network of friends that later evolved into this company. You can join this network, either personally, by attending regular meetings or via the Internet for support and nutritional education.*@
            </p>
            <a href="@Url.Content("~/diteprograms/WeightWatchersdiet")">@Resource.Watchers</a>
            <p class="line">---------------------------------------------------------------------------</p>

            <p>
                <label>@Resource.SouthBeach</label>
                @*This diet was started by Agatston, a cardiologist and Marie Almon. This diet focuses on controlling insulin levels and taking advantage of slow, unrefined carbohydrates. Dr. Agatston created this diet after which he was frustrated with the low-fat, high-carb diet that was supported by the American Heart Association.*@
            </p>
            <a href="@Url.Content("~/diteprograms/SouthBeachdiet")">@Resource.SouthBeachdiet </a>
            <p class="line">---------------------------------------------------------------------------</p>

            <p>
                <label>@Resource.Rawfood</label>
                @*This diet means that at least 75% of your food should be uncooked, untreated, or raw. And vegans make up a large proportion of followers of this diet.*@
            </p>
            <a href="@Url.Content("~/diteprograms/Rawfooddiet")">@Resource.Rawfooddiet </a>
            <p class="line">---------------------------------------------------------------------------</p>

            <p>
                <label>@Resource.Mediterranean</label>
                @*It means following the eating habits of southern Europeans such as Greece, Crete, southern Italy, Spain, southern France and Portugal as well. The focus is on eating vegetable foods, fresh fruits, nuts, beans, whole grains, seeds, olive oil, cheese, and milk. Moderate amounts of fish, chicken, and eggs can be eaten, and small amounts of red meat. This diet has been studied extensively and has proven effective in improving the quality of life and reducing the risk of disease.
                Finally, it must be pointed out the seriousness of the so-called "Western diet", which is high in sugars and fried foods, as it is associated with a higher risk of disease and early death. We emphasize the need to consult a specialist doctor before committing to any diet that may conflict or exacerbate some of the pathological problems that exist in some people.*@
            </p>
            <a href="@Url.Content("~/diteprograms/Mediterraneandiet")">@Resource.Medi </a>
            <p class="line">---------------------------------------------------------------------------</p>


        </div>
    </div>
</div>















