@using R
<fieldset>
    <legend>
       @Resource.Ketogenicdiet 
    </legend>
    <div>
        <h1>
            @Resource.Ketogenicdiet

        </h1>
        <img src="~/Content/Images/dit4.jpg" width="550px" height="550px " />


        <h1> @Resource.toEat </h1>

        @*<p>When following a ketogenic diet, meals and snacks should center around the following foods:</p>*@
        <ul>
            <li>Eggs: Pastured, organic whole eggs make the best choice.</li>
            <li>Poultry: Chicken and turkey.</li>
            <li>Fatty fish: Wild-caught salmon, herring and mackerel.</li>
            <li>Meat: Grass-fed beef, venison, pork, organ meats and bison.</li>
            <li>Full-fat dairy: Yogurt, butter and cream.</li>
            <li>Full- fat cheese: Cheddar, mozzarella, brie, goat cheese and cream cheese.</li>
            <li>Nuts and seeds: Macadamia nuts, almonds, walnuts, pumpkin seeds, peanuts and flaxseeds.</li>
            <li>Nut butter: Natural peanut, almond and cashew butters.</li>
            <li>Healthy fats: Coconut oil, olive oil, avocado oil, coconut butter and sesame oil.</li>
            <li>Avocados: Whole avocados can be added to almost any meal or snack.</li>
            <li>Non-starchy vegetables: Greens, broccoli, tomatoes, mushrooms and peppers.</li>
            <li>Condiments: Salt, pepper, vinegar, lemon juice, fresh herbs and spices.</li>
        </ul>
        <h1>@Resource.toAvoid</h1>
        @*<p>Avoid foods rich in carbs while following a keto diet.</p>
        <p>The following foods should be restricted:</p>*@
        <ul>
            <li>Bread and baked goods: White bread, whole-wheat bread, crackers, cookies, doughnuts and rolls.</li>
            <li>Sweetened beverages: Soda, juice, sweetened teas and sports drinks.</li>
            <li>Pasta: Spaghetti and noodles.</li>
            <li>Grains and grain products: Wheat, rice, oats, breakfast cereals and tortillas.</li>
            <li>Starchy vegetables: Potatoes, sweet potatoes, butternut squash, corn, peas and pumpkin.</li>
            <li>Beans and legumes: Black beans, chickpeas, lentils and kidney beans.</li>
            <li>Fruit: Citrus, grapes, bananas and pineapple.</li>
            <li>High-carb sauces: Barbecue sauce, sugary salad dressings and dipping sauces.</li>
            <li>Certain alcoholic beverages: Beer and sugary mixed drinks</li>
            <li>Unhealthy fats: Margarine, shortening and vegetable oils such as canola and corn oil.</li>
            <li>Processed foods: Fast food, packaged foods and processed meats such as hot dogs and lunch meats.</li>
            <li>Diet foods: Foods that contain artificial colors, preservatives and sweeteners such as sugar alcohols and aspartame.</li>
        </ul>

        <h1>@Resource.menu</h1>
        <p>@Resource.DayOne</p>
        <ul>
            <li><label>@Resource.Breakfast</label>: Two eggs fried in pastured butter served with sauteed greens.</li>
            <li><label>@Resource.Lunch</label>: A bunless grass-fed burger topped with cheese, mushrooms and avocado atop a bed of greens.</li>
            <li> <label>@Resource.Dinner</label>: Pork chops with green beans sauteed in coconut oil.</li>
        </ul>

        <p>@Resource.DayTwo </p>
        <ul>
            <li><label>@Resource.Breakfast</label>: Mushroom omelet.</li>
            <li><label>@Resource.Lunch</label>: Tuna salad with celery and tomato atop a bed of greens.</li>
            <li><label>@Resource.Dinner</label>: Roast chicken with cream sauce and sauteed broccoli.</li>
        </ul>

        <p> @Resource.DayThree</p>
        <ul>
            <li><label>@Resource.Breakfast</label>: Bell pepper stuffed with cheese and eggs.</li>
            <li><label>@Resource.Lunch</label>: Arugula salad with hard-boiled eggs, turkey, avocado and blue cheese.</li>
            <li><label>@Resource.Dinner</label>: Grilled salmon with spinach sauteed in coconut oil.</li>
        </ul>

        <p>@Resource.DayFour </p>
        <ul>
            <li><label>@Resource.Breakfast</label>: Full-fat yogurt topped with Keto granola.</li>
            <li><label>@Resource.Lunch</label>: Steak bowl with cauliflower rice, cheese, herbs, avocado and salsa.</li>
            <li><label>@Resource.Dinner</label>: Bison steak with cheesy broccoli.</li>
        </ul>

        <p>@Resource.DayFive </p>
        <ul>
            <li><label>@Resource.Breakfast</label>: Baked avocado egg boats.</li>
            <li><label>@Resource.Lunch</label>: Caesar salad with chicken.</li>
            <li><label>@Resource.Dinner</label>: Pork chops with vegetables.</li>
        </ul>

        <p>@Resource.DaySix </p>
        <ul>
            <li><label>@Resource.Breakfast</label>: Cauliflower toast topped with cheese and avocado.</li>
            <li><label>@Resource.Lunch</label>: Bunless salmon burgers topped with pesto.</li>
            <li><label>@Resource.Dinner</label>: Meatballs served with zucchini noodles and parmesan cheese.</li>
        </ul>
        <p>
            @Resource.DaySeven
        </p>
        <ul>
            <li><label>@Resource.Breakfast</label>: Coconut milk chia pudding topped with coconut and walnuts.</li>
            <li><label>@Resource.Lunch</label>: Cobb salad made with greens, hard-boiled eggs, avocado, cheese and turkey.</li>
            <li><label>@Resource.Dinner</label>: Coconut chicken curry.</li>
        </ul>

    </div>
    <fieldset>
