@using R
@using R
<fieldset>
    <legend>
        @Resource.Medi
    </legend>
    <div>
        <h1>
            @Resource.Medi

        </h1>
        <img src="~/Content/Images/dit9.jpg" width="550px" height="550px " />


        <h1> @Resource.toAvoid</h1>
        @*<p>You should avoid these unhealthy foods and ingredients:</p>*@
        <ul>
            <li>
   @Resource.Addedsugar3 : @*Soda, candies, ice cream, table sugar and many others.*@
            </li>
            <li>
  @Resource.Refinedgrains3 : @*White bread, pasta made with refined wheat, etc.*@
            </li>
            <li>
 @Resource.Transfats3:@*Found in margarine and various processed foods*@.
            </li>
            <li>
 @Resource.Refinedoils3 :@*Soybean oil, canola oil, cottonseed oil and others.*@
            </li>
            <li>
 @Resource.Processedmeat3: @*Processed sausages, hot dogs, etc.*@
            </li>
            <li>
 @Resource.Highlyprocessedfoods3 : @*Anything labeled "low-fat" or "diet" or which looks like it was made in a factory.*@</li>
        </ul>
        <h1> @Resource.toEat</h1>

        <ul>
           
            <li>
                @Resource.Vegetables3: @*Vegetables: Tomatoes, broccoli, kale, spinach, onions, cauliflower, carrots, Brussels sprouts, cucumbers, etc.*@
            </li>
            <li>
           @Resource.Fruits @*Fruits: Apples, bananas, oranges, pears, strawberries, grapes, dates, figs, melons, peaches, etc.*@
            </li>
            <li>
        @Resource.Nutsandseeds3  @*Nuts and seeds: Almonds, walnuts, macadamia nuts, hazelnuts, cashews, sunflower seeds, pumpkin seeds, etc.*@
            </li>
            <li>
       @Resource.Legumes3 @*Legumes: Beans, peas, lentils, pulses, peanuts, chickpeas, etc*@.</li>
             <li>
       @Resource.Tubers3   @*Tubers: Potatoes, sweet potatoes, turnips, yams, etc.*@</li>
            <li>
        @Resource.Wholegrains3  @*Whole grains: Whole oats, brown rice, rye, barley, corn, buckwheat, whole wheat, whole-grain bread and pasta*@.</li>
            <li>
         @Resource.Fishandseafood3 @*Fish and seafood: Salmon, sardines, trout, tuna, mackerel, shrimp, oysters, clams, crab, mussels, etc*@.</li>
            <li>
         @Resource.Poultry3 @*Poultry: Chicken, duck, turkey, etc*@.</li>
            <li>
         @Resource.Eggs3  @*Eggs: Chicken, quail and duck eggs*@.</li>
            <li>
         @Resource.Dairy3  @*Dairy: Cheese, yogurt, Greek yogurt, etc*@.</li>
            <li>
          @Resource.Herbsandspices3 @*Herbs and spices: Garlic, basil, mint, rosemary, sage, nutmeg, cinnamon, pepper, etc*@.</li>
            <li>
           @Resource.HealthyFats3  @*Healthy Fats: Extra virgin olive oil, olives, avocados and avocado oil*@.</li>
        </ul>

        <h1>@Resource.menu</h1>

        <h2>@Resource.DayOne</h2>
        <ul>
            <li><label>@Resource.Breakfast</label>: @Resource.Greekyogurt3   @*Greek yogurt with strawberries and oats*@.</li>
            <li><label>@Resource.Lunch</label>: @Resource.Wholegrains3  @*Whole-grain sandwich with vegetables*@.</li>
            <li><label>@Resource.Dinner</label> :@Resource.tunasalad3 @*A tuna salad, dressed in olive oil. A piece of fruit for dessert*@.</li>
        </ul>
        <h2>@Resource.DayTwo</h2>
        <ul>
            <li><label>@Resource.Breakfast</label>: @Resource.Oatmeal3 @*Oatmeal with raisins*@.</li>
            <li><label>@Resource.Lunch</label>:@Resource.Leftovertuna3 @*Leftover tuna salad from the night before*@.</li>
            <li><label>@Resource.Dinner</label>:@Resource.Salad3 @*Salad with tomatoes, olives and feta cheese*@.</li>
        </ul>
        <h2>@Resource.DayThree</h2>
        <ul>
            <li><label>@Resource.Breakfast</label>:@Resource.Omelet3 @*Omelet with veggies, tomatoes and onions. A piece of fruit*@.</li>
            <li><label>@Resource.Lunch</label>:@Resource.sandwich3 @*Whole-grain sandwich, with cheese and fresh vegetables*@.</li>
            <li><label>@Resource.Dinner</label>:@Resource.Mediterranean3 @*Mediterranean lasagne*@.</li>
        </ul>
        <h2> @Resource.DayFour</h2>
        <ul>
            <li><label>@Resource.Breakfast</label>:@Resource.Yogurt3 @*Yogurt with sliced fruits and nuts.*@</li>
            <li><label>@Resource.Lunch</label>:@Resource.Leftovertuna3 @*Leftover lasagne from the night before*@.</li>
            <li><label>@Resource.Dinner</label>:@Resource.salmon3 @*Broiled salmon, served with brown rice and vegetables*@.</li>
        </ul>
        <h2>@Resource.DayFive</h2>
        <ul>
            <li><label>@Resource.Breakfast</label>:@Resource.Eggsandvegetables3 @*Eggs and vegetables, fried in olive oil*@.</li>
            <li><label>@Resource.Lunch</label>:@Resource.Greekyogurti3 @*Greek yogurt with strawberries, oats and nuts*@.</li>
            <li><label>@Resource.Dinner</label>:@Resource.Grilledlamb3
             @*Grilled lamb, with salad and baked potato*@.</li>
        </ul>
        <h2>@Resource.DaySix</h2>
        <ul>
            <li><label>@Resource.Breakfast</label>:@Resource.Oatmeali3 @*Oatmeal with raisins, nuts and an apple.*@</li>
            <li><label>@Resource.Lunch</label>:@Resource.grainsandwich3 @*Whole-grain sandwich with vegetables*@.</li>
            <li><label>@Resource.Dinner</label>:@Resource.pizza3 @*Mediterranean pizza made with whole wheat, topped with cheese, vegetables and olives*@.</li>
        </ul>
        <h2>@Resource.DaySeven</h2>
        <ul>

            <li><label>@Resource.Breakfast</label>:@Resource.veggies3 @*Omelet with veggies and olives*@.</li>
            <li><label>@Resource.Lunch</label>:@Resource.Leftoverpizza3 @*Leftover pizza from the night before*@.</li>
            <li><label>@Resource.Dinner</label>:@Resource.Grilledchicken3 @*Grilled chicken, with vegetables and a potato. Fruit for dessert*@.</li>
        </ul>



    </div>
    <fieldset>





















































































































