@using R
<fieldset>
    <legend>
        @Resource.Rawfooddiet
    </legend>
    <div>
        <h1>
            @Resource.Rawfooddiet

        </h1>
        <img src="~/Content/Images/dit3.jpg" width="550px" height="550px " />
        <h1>@Resource.toEat</h1>
        <ul>
            <li>@Resource.freshfruits4 @*All fresh fruits*@</li>
            <li>@Resource.vegetables4 @*All raw vegetables*@</li>
            <li>@Resource.nuts4 @*Raw nuts and seeds*@</li>
            <li>@Resource.Rawgrains4 @*Raw grains and legumes, sprouted or soaked*@</li>
            <li>@Resource.Driedfruits4 @*Dried fruits and meats*@</li>
            <li>@Resource.nuts4 @*Nut milks*@</li>
            <li>@Resource.Rawnut4 @*Raw nut butters*@</li>
            <li>@Resource.Coldpressed4 @*Cold-pressed olive and coconut oils*@</li>
            <li>@Resource.Fermented4 @*Fermented foods like kimchi and sauerkraut*@</li>
            <li>@Resource.Seaweed4 @*Seaweed*@</li>
            <li>@Resource.Sprouts4 @*Sprouts*@</li>
            <li>@Resource.Raweggs4 @*Raw eggs or dairy, if desired*@</li>
            <li>@Resource.Rawmeat4 @*Raw meat or fish, if desired*@</li>
        </ul>
        <h1>@Resource.toAvoid</h1>
        <ul>
            <li>@Resource.Cookedfruits4 @*Cooked fruits, vegetables, meats and grains*@</li>
            <li>@Resource.Baked4 @*Baked items*@</li>
            <li>@Resource.Roasted4 @*Roasted nuts and seeds*@</li>
            <li>@Resource.oils4 @*Refined oils*@</li>
            <li>@Resource.salt4 @*Table salt*@</li>
            <li>@Resource.sugars4 @*Refined sugars and flour*@</li>
            <li>@Resource.Pasteurized4 @*Pasteurized juices and dairy*@</li>
            <li>@Resource.Coffee4 @*Coffee and tea*@</li>
            <li>@Resource.Alcohol4 @*Alcohol*@</li>
            <li>@Resource.Pasta10 @*Pasta*@</li>
            <li>@Resource.Pastries10 @*Pastries*@</li>
            <li>@Resource.Chips4 @*Chips*@</li>
        </ul>
        <h1>@Resource.menu</h1>
        <h2>@Resource.DayOne</h2>
        <ul>
            <li><label>@Resource.Breakfast</label>:@Resource.Green4 @*Green smoothie*@</li>
            <li><label>@Resource.Snack</label>:@Resource.Carrots4 @*Carrots and raw hummus*@</li>
            <li><label>@Resource.Lunch</label>:@Resource.squash4 @*Raw squash noodle pasta:Resource.Chia4@*: Chia seed pudding with fruit*@</li>
            <li><label>@Resource.Lunch</label>:@Resource.Apple4@*: Apple and walnut salad*@</li>
            <li><label>@Resource.Snack</label>:@Resource.Fermented4 @*Freshly squeezed juice and nuts*@</li>
            <li><label>@Resource.Dinner</label>:@Resource.Raw4@*Raw zucchini noodle pasta with tomato sauce and basil*@</li>
        </ul>
        <h2>@Resource.DayTwo</h2>
        <ul>
            <li><label>@Resource.Breakfast</label>:@Resource.pancakes4 @*Raw banana pancakes and fruit*@</li>
            <li><label>@Resource.Lunch</label>:@Resource.squashi4 @*Raw squash soup*@</li>
            <li><label>@Resource.Snack</label>:@Resource.slices4 @*Orange slices and nuts*@</li>
            <li><label>@Resource.Dinner</label>:@Resource.Kale4 @*Kale and mushroom salad*@</li>
        </ul>
        <h2>@Resource.DayThree</h2>
        <ul>
            <li><label>@Resource.Breakfast</label>:@Resource.Overnight4 @*Overnight oatmeal with chopped fruit and nuts*@</li>
            <li><label>@Resource.Lunch</label>:@Resource.Broccolii4@*Broccoli and raw hummus*@</li>
            <li><label>@Resource.Snack</label>: @Resource.Raw4 @*Rawsweet potato chips and fruit*@</li>
            <li><label>@Resource.Dinner</label>:@Resource.Stuffed4 @*Stuffed portobello mushrooms*@</li>
        </ul>
        <h2>@Resource.DayFour</h2>
        <ul>
            <li><label>@Resource.Breakfast</label>:@Resource.Fruitbowl4 @*Fruit bowl*@</li>
            <li><label>@Resource.Lunch</label>:@Resource.figs4 @*Salad with figs and nuts*@</li>
            <li><label>@Resource.Snack</label>:@Resource.Banana4 @*Banana and raw nut butter*@</li>
            <li><label>@Resource.Dinner</label>:@Resource.Raw6@*: Raw lasagna*@</li>
        </ul>
        <h2>@Resource.DayFive</h2>
        <ul>
            <li><label>@Resource.Breakfast</label>:@Resource.smoothie4 @*Green smoothie*@</li>
            <li><label>@Resource.Lunch</label>:@Resource.Sprouted4 @*Sprouted quinoa Buddha bowl*@</li>
            <li><label>@Resource.Snack</label>:@Resource.Applee4 @*Apple and berries*@</li>
            <li><label>@Resource.Dinner</label>:@Resource.tomato4 @*Raw tomato soup with marinated veggies*@</li>
        </ul>
        <h2>@Resource.DaySix</h2>
        <ul
            <li><label>@Resource.Breakfast</label>:@Resource.Soaked4 @*Soaked oats with berries*@</li>
            <li><label>@Resource.Lunch</label>:@Resource.avocado4 @*Salad with avocado and fruit*@</li>
            <li><label>@Resource.Snack</label>:@Resource.Sliced4 @*Sliced bell pepper and sunflower seeds*@</li>
            <li><label>@Resource.Dinner</label>:@Resource.veggie4 @*Raw veggie sushi and chopped veggies*@</li>
        </ul>
        <h2>@Resource.DaySeven</h2>
        <ul>
            <li><label>@Resource.Breakfast</label>:@Resource.pancakes4 @*Raw banana pancakes and fruit*@</li>
            <li><label>@Resource.Lunch</label>:@Resource.squashi4 @*Raw squash soup*@</li>
            <li><label>@Resource.Snack</label>:@Resource.slices4 @*Orange slices and nuts*@</li>
            <li><label>@Resource.Dinner</label>:@Resource.Kale4 @*Kale and mushroom salad*@</li>
        </ul>
    </div>
    <fieldset>

