@using R

<fieldset>
    <legend>
        @Resource.Vegandiet
    </legend>
    <div>
        <h1>
            @Resource.Vegandiet

        </h1>
        <img src="~/Content/Images/dit6.jpg" width="500px" height="500px " />




        <h1> @Resource.toAvoid</h1>

        <ul>
            <li>
                @Resource.meat5 @*meat*@
            </li>
            <li>
                @Resource.chicken5  @*chicken*@
            </li>
            <li>
                @Resource.fish5  @*fish*@
            </li>
            <li>
                @Resource.shellfish5 @*shellfish*@
            </li>
            <li>
                @Resource.eggs5   @*eggs*@
            </li>
            <li>
                @Resource.dairy5 @*dairy*@
            </li>
            <li>
                @Resource.honey5  @*honey*@
            </li>
        </ul>
        <h1> @Resource.toEat</h1>

        <ul>
            <li>
                @Resource.beans5 @*beans*@
            </li>
            <li>
                @Resource.lentils5 @*lentils*@
            </li>
            <li>
                @Resource.tofu5  @*tofu*@
            </li>
            <li>
                @Resource.seitan5 @*seitan*@
            </li>
            <li>
                @Resource.nuts5 @*nuts*@
            </li>
            <li>
                @Resource.seeds5  @*seeds*@
            </li>
        </ul>
        <h1>@Resource.menu</h1>
        <h2>@Resource.DayOne</h2>
        <ul>
            <li>
                <label>@Resource.Breakfast</label>: @Resource.Veganbreakfast5
                @*Vegan breakfast sandwich with tofu, lettuce, tomato, turmeric and a plant-milk chai latte.*@
            </li>
            <li>
                <label>@Resource.Lunch</label>: @Resource.Spiralized5
                @*Spiralized zucchini and quinoa salad with peanut dressing.*@
            </li>
            <li>
                <label>@Resource.Dinner</label>:@Resource.Redlentil5
                @*Red lentil and spinach dal over wild rice.*@
            </li>
        </ul>

        <h2>@Resource.DayTwo </h2>
        <ul>
            <li>
                <label>@Resource.Breakfast</label>:@Resource.Overnight5
                @*Overnight oats made with fruit, fortified plant milk, chia seeds and nuts.*@
            </li>
            <li>
                <label>@Resource.Lunch</label>:@Resource.sandwich5
                @*Seitan sauerkraut sandwich.*@
            </li>
            <li>
                <label>@Resource.Dinner</label>:@Resource.bolognese5
                @*Pasta with a lentil bolognese sauce and a side salad.*@
            </li>
        </ul>

        <h2> @Resource.DayThree</h2>
        <ul>
            <li>
                <label>@Resource.Breakfast</label>:@Resource.smoothie5
                @*Mango and spinach smoothie made with fortified plant milk and a banana-flaxseed-walnut muffin.*@
            </li>
            <li>
                <label>@Resource.Lunch</label>: @Resource.sandwichwith5
                @*Baked tofu sandwich with a side of tomato salad.*@
            </li>
            <li>
                <label>@Resource.Dinner</label>: @Resource.Veganchili5
                @*Vegan chili on a bed of amaranth.*@
            </li>
        </ul>

        <h2>@Resource.DayFour </h2>
        <ul>
            <li>
                <label>@Resource.Breakfast</label>: @Resource.hazelnut5
                @*Whole-grain toast with hazelnut butter, banana and a fortified plant yogurt.*@
            </li>
            <li>
                <label>@Resource.Lunch</label>: @Resource.noodlesoup5
                @*Tofu noodle soup with vegetables.*@
            </li>
            <li>
                <label>@Resource.Dinner</label>: @Resource.Jacketsweet5
                @*Jacket sweet potatoes with lettuce, corn, beans, cashews and guacamole.*@
            </li>
        </ul>

        <h2>@Resource.DayFive </h2>
        <ul>
            <li>
                <label>@Resource.Breakfast</label>:@Resource.cappuccino5
                @*Vegan chickpea and onion omelet and a cappuccino made with fortified plant milk.*@
            </li>
            <li>
                <label>@Resource.Lunch</label>:@Resource.mangopineapple5
                @*Vegan tacos with mango-pineapple salsa.*@
            </li>
            <li>
                <label>@Resource.Dinner</label>:@Resource.bokchoy5
                @*Tempeh stir-fry with bok choy and broccoli.*@
            </li>
        </ul>

        <h2>@Resource.DaySix </h2>
        <ul>
            <li>
                <label>@Resource.Breakfast</label>:@Resource.scrambledtofu5
                @*Spinach and scrambledtofu wrap and a glass of fortified plant milk.*@
            </li>
            <li>
                <label>@Resource.Lunch</label>:@Resource.Redlentil5
                @*Spiced red lentil, tomato and kale soup with whole-grain toast and hummus.*@
            </li>
            <li>
                <label>@Resource.Dinner</label>:@Resource.Veggiesushi5
                @*Veggie sushi rolls, miso soup, edamame and wakame salad.*@
            </li>
        </ul>
        <h2>
            @Resource.DaySeven
        </h2>
        <ul>
            <li>
                <label>@Resource.Breakfast</label>:@Resource.guacamole5
                @*Chickpea pancakes, guacamole and salsa and a glass of fortified orange juice.*@
            </li>
            <li>
                <label>@Resource.Lunch</label>:@Resource.sautéed5
                @*Tofu vegan quiche with a side of sautéed mustard greens.*@
            </li>
            <li>
                <label>@Resource.Dinner</label>:@Resource.springrolls5
                @*Vegan spring rolls.*@
            </li>
        </ul>

    </div>
    <fieldset>
