@using R

<fieldset>
    <legend>
       @Resource.Vegandiet  
    </legend>
    <div>
        <h1>
            @Resource.Vegandiet 

        </h1>
        <img src="~/Content/Images/dit6.jpg" width="500px" height="500px " />




        <h1> @Resource.toAvoid</h1>

        <ul>
            <li>meat</li>
            <li>chicken</li>
            <li>fish</li>
            <li>shellfish</li>
            <li>eggs</li>
            <li>dairy</li>
            <li>honey</li>
        </ul>
        <h1> @Resource.toEat</h1>

        <ul>
            <li>beans</li>
            <li>lentils</li>
            <li>tofu</li>
            <li>seitan</li>
            <li>nuts</li>
            <li>seeds</li>
        </ul>
        <h1>@Resource.menu</h1>
        <p>@Resource.DayOne</p>
        <ul>
            <li><label>@Resource.Breakfast</label>:  Vegan breakfast sandwich with tofu, lettuce, tomato, turmeric and a plant-milk chai latte.</li>
            <li><label>@Resource.Lunch</label>:Spiralized zucchini and quinoa salad with peanut dressing.</li>
            <li> <label>@Resource.Dinner</label>:Red lentil and spinach dal over wild rice.</li>
        </ul>

        <p>@Resource.DayTwo </p>
        <ul>
            <li><label>@Resource.Breakfast</label>:Overnight oats made with fruit, fortified plant milk, chia seeds and nuts.</li>
            <li><label>@Resource.Lunch</label>: Seitan sauerkraut sandwich.</li>
            <li><label>@Resource.Dinner</label>:Pasta with a lentil bolognese sauce and a side salad.</li>
        </ul>

        <p> @Resource.DayThree</p>
        <ul>
            <li><label>@Resource.Breakfast</label>: Mango and spinach smoothie made with fortified plant milk and a banana-flaxseed-walnut muffin.</li>
            <li><label>@Resource.Lunch</label>: Baked tofu sandwich with a side of tomato salad.</li>
            <li><label>@Resource.Dinner</label>: Vegan chili on a bed of amaranth.</li>
        </ul>

        <p>@Resource.DayFour </p>
        <ul>
            <li><label>@Resource.Breakfast</label>: Whole-grain toast with hazelnut butter, banana and a fortified plant yogurt.</li>
            <li><label>@Resource.Lunch</label>: : Tofu noodle soup with vegetables.</li>
            <li><label>@Resource.Dinner</label>: Jacket sweet potatoes with lettuce, corn, beans, cashews and guacamole.</li>
        </ul>

        <p>@Resource.DayFive </p>
        <ul>
            <li><label>@Resource.Breakfast</label>: Vegan chickpea and onion omelet and a cappuccino made with fortified plant milk.</li>
            <li><label>@Resource.Lunch</label>:Vegan tacos with mango-pineapple salsa.</li>
            <li><label>@Resource.Dinner</label>: Tempeh stir-fry with bok choy and broccoli.</li>
        </ul>

        <p>@Resource.DaySix </p>
        <ul>
            <li><label>@Resource.Breakfast</label>: Spinach and scrambled tofu wrap and a glass of fortified plant milk.</li>
            <li><label>@Resource.Lunch</label>: Spiced red lentil, tomato and kale soup with whole-grain toast and hummus.</li>
            <li><label>@Resource.Dinner</label>: Veggie sushi rolls, miso soup, edamame and wakame salad.</li>
        </ul>
        <p>
            @Resource.DaySeven
        </p>
        <ul>
            <li><label>@Resource.Breakfast</label>: Chickpea pancakes, guacamole and salsa and a glass of fortified orange juice.</li>
            <li><label>@Resource.Lunch</label>: Tofu vegan quiche with a side of sautéed mustard greens.</li>
            <li><label>@Resource.Dinner</label>: Vegan spring rolls.</li>
        </ul>

    </div>
    <fieldset>
