@using R
<fieldset>
    <legend>
        @Resource.Vegetariandiet
    </legend>
    

    <div>
        <h1>
            @Resource.Vegetariandiet
        </h1>
        <img src="~/Content/Images/dit5.jpg" width="550px" height="550px " />
        <h1> @Resource.toEat</h1>
        <ul>
            <li>Fruits: Apples, bananas, berries, oranges, melons, pears, peaches</li>
            <li>Vegetables: Leafy greens, asparagus, broccoli, tomatoes, carrots</li>
            <li>Grains: Quinoa, barley, buckwheat, rice, oats</li>
            <li>Legumes: Lentils, beans, peas, chickpeas.</li>
            <li>Nuts: Almonds, walnuts, cashews, chestnuts</li>
            <li>Seeds: Flaxseeds, chia and hemp seeds</li>
            <li>Healthy fats: Coconut oil, olive oil, avocados</li>
            <li>Proteins: Tempeh, tofu, seitan, natto, nutritional yeast, spirulina, eggs, dairy products</li>
        </ul>
        <h1>@Resource.toAvoid</h1>
        
        <ul>
            <li>Meat: Beef, veal and pork</li>
            <li>Poultry: Chicken and turkey</li>
            <li>Fish and shellfish: This restriction does not apply to pescetarians.</li>
            <li>Meat-based ingredients: Gelatin, lard, carmine, isinglass, oleic acid and suet</li>
            <li>Eggs: This restriction applies to vegans and lacto-vegetarians.</li>
            <li>Dairy products: This restriction on milk, yogurt and cheese applies to vegans and ovo-vegetarians.</li>
            <li>Other animal products: Vegans may choose to avoid honey, beeswax and pollen.</li>
        </ul>
        <h1>@Resource.menu</h1>
     
        <p> @Resource.DayOne </p>
        <ul>
            <li><label>@Resource.Breakfast</label>: Oatmeal with fruit and flaxseeds</li>
            <li><label>@Resource.Lunch</label>: Grilled veggie and hummus wrap with sweet potato fries</li>
            <li><label>@Resource.Dinner</label>: Tofu banh mi sandwich with pickled slaw</li>
        </ul>
        <p>@Resource.DayTwo  </p>
        <ul>
            <li><label>@Resource.Breakfast</label>: Scrambled eggs with tomatoes, garlic and mushrooms</li>
            <li><label>@Resource.Lunch</label>: Zucchini boats stuffed with veggies and feta with tomato soup</li>
            <li><label>@Resource.Dinner</label>: Chickpea curry with basmati rice</li>
        </ul>
        <p> @Resource.DayThree</p>
        <ul>
            <li><label>@Resource.Breakfast</label>: Greek yogurt with chia seeds and berries</li>
            <li><label>@Resource.Lunch</label>: Farro salad with tomatoes, cucumber and feta with spiced lentil soup</li>
            <li><label>@Resource.Dinner</label>: Eggplant parmesan with a side salad</li>
        </ul>
        <p> @Resource.DayFour</p>
        <ul>
            <li><label>@Resource.Breakfast</label>: Tofu scramble with sauteed peppers, onions and spinach</li>
            <li><label>@Resource.Lunch</label>: Burrito bowl with brown rice, beans, avocado, salsa and veggies</li>
            <li><label>@Resource.Dinner</label>: Vegetable paella with a side salad</li>
        </ul>
        <p> @Resource.DayFive </p>
        <ul>
            <li><label>@Resource.Breakfast</label>: Whole-wheat toast with avocado and nutritional yeast</li>
            <li><label>@Resource.Lunch</label>: Marinated tofu pita pocket with Greek salad</li>
            <li><label>@Resource.Dinner</label>: Quinoa-black-bean meatballs with zucchini noodles</li>
        </ul>
        <p> @Resource.DaySix</p>
        <ul>
            <li><label>@Resource.Breakfast</label>: Smoothie of kale, berries, bananas, nut butter and almond milk</li>
            <li><label>@Resource.Lunch</label>: Red lentil veggie burger with avocado salad</li>
            <li><label>@Resource.Dinner</label>: Flatbread with grilled garden vegetables and pesto</li>
        </ul>
        <p>@Resource.DaySeven</p>
        <ul>

            <li><label>@Resource.Breakfast</label>: Kale and sweet potato hash</li>
            <li><label>@Resource.Lunch</label>: Bell peppers stuffed with tempeh with zucchini fritters</li>
            <li><label>@Resource.Dinner</label>: Black bean tacos with cauliflower rice</li>
        </ul>
    </div>
    <fieldset>


