@using R
<fieldset>
    <legend>
        @Resource.Watchers
    </legend>
    <div>
        <h1>
            @Resource.Watchers

        </h1>

         
        <img src="~/Content/Images/dit7.jpg" width="550px" height="250px " />
    </div>

     
    <h1>
        @Resource.toEat

    </h1>
       
    
    <ul>
        <li>
            Lean proteins like skinless chicken, eggs, tofu, fish, shellfish and non-fat yogurt.
        </li>
        <li>
            Non-starchy vegetables like broccoli, asparagus, greens, cauliflower and peppers.
        </li>
        <li>
            Fresh, frozen and unsweetened canned fruit.
        </li>
        <li>
            Healthy carbohydrates such as sweet potatoes, brown rice, oatmeal, beans and whole-grain products.
        </li>
        <li>
            Healthy fats like avocado, olive oil and nuts.
        </li>

    </ul>

    <h1>
@Resource.toAvoid
    <ul>
        <li>
            Sugary drinks
        </li>
        <li>
            Potato chips
        </li>
        <li>
            Processed meats
        </li>
        <li>
            Candy
        </li>
        <li>
            Cakes and cookies
        </li>
    </ul>

    <h1>@Resource.menu</h1>
    <h2>@Resource.DayOne</h2>
    <ul>
        <li>
            <label>@Resource.Breakfast</label>: Goat cheese, spinach and tomato omelet
        </li>
        <li>
            <label>@Resource.Lunch</label>: Barley and mushroom soup
        </li>
        <li>
            <label>@Resource.Snack  </label>: Guacamole with carrot crackers
        </li>
        <li>
           <label>@Resource.Dinner</label>: Super-easy spaghetti and meatballs with Italian arugula salad
        </li>
        <li>
            <label> @Resource.Dessert </label> : Chocolate-dipped macaroons
</li>
    </ul>
    <h2>@Resource.DayTwo</h2>
    <ul>
        <li>
            <label>@Resource.Breakfast</label>: Cranberry-walnut oatmeal
        </li>
        <li>
            <label>@Resource.Lunch</label>: Egg, veggie and avocado salad with tarragon
        </li>
        <li>
          <label>@Resource.Dinner</label>: Ginger and scallion stir-fried brown rice with ginger shrimp
        </li>
        <li>
            <label>@Resource.Snack  </label>: Swiss cheese and grapes
        </li>
        <li>
            <label> @Resource.Dessert </label>  : Baked apples with vanilla drizzle
        </li>
    </ul>
    <h2>
        @Resource.DayThree

    </h2>
    <ul>
        <li>
            <label>@Resource.Breakfast</label>: Mashed avocado tortilla with tomato
        </li>
        <li>
            <label>@Resource.Lunch</label>: Turkey, apple and blue cheese wrap
        </li>
        <li>
           <label>@Resource.Dinner</label>: No-noodle vegetable lasagna
        </li>
        <li>
            <label>@Resource.Snack  </label>: Black bean dip with crudités
        </li>
        <li>
            <label> @Resource.Dessert </label> : Mini-brownie cupcake
        </li>
    </ul>
    <h2>
        @Resource.DayFour

    </h2>
    <ul>
        <li>
            <label>@Resource.Breakfast</label>: Goat cheese, spinach and tomato omelet
        </li>
        <li>
            <label>@Resource.Lunch</label>: Barley and mushroom soup
        </li>
        <li>
            <label>@Resource.Snack  </label>: Guacamole with carrot crackers
        </li>
        <li>
           <label>@Resource.Dinner</label>: Super-easy spaghetti and meatballs with Italian arugula salad
        </li>
        <li>
            <label> @Resource.Dessert </label> : Chocolate-dipped macaroons
        </li>
    </ul>
    <h2>@Resource.DayFive</h2>
    <ul>
        <li>
            <label>@Resource.Breakfast</label>: Cranberry-walnut oatmeal
        </li>
        <li>
            <label>@Resource.Lunch</label>: Egg, veggie and avocado salad with tarragon
        </li>
        <li>
           <label>@Resource.Dinner</label>: Ginger and scallion stir-fried brown rice with ginger shrimp
        </li>
        <li>
            <label>@Resource.Snack  </label>: Swiss cheese and grapes
        </li>
        <li>
            <label> @Resource.Dessert </label> : Baked apples with vanilla drizzle
        </li>
    </ul>
    <h2>
       @Resource.DaySix
    </h2>
    <ul>
        <li>
            <label>@Resource.Breakfast</label>: Mashed avocado tortilla with tomato
        </li>
        <li>
            <label>@Resource.Lunch</label>: Turkey, apple and blue cheese wrap
        </li>
        <li>
           <label>@Resource.Dinner</label>:No-noodle vegetable lasagna
        </li>
        <li>
            <label>@Resource.Snack  </label>: Black bean dip with crudités
        </li>
        <li>
            <label> @Resource.Dessert </label>: Mini-brownie cupcake
        </li>

    </ul>

    <h2> 
        @Resource.DaySeven
        </h2>
    <ul>
        <li>
            <label>@Resource.Breakfast</label>: Goat cheese, spinach and tomato omelet
        </li>
        <li>
            <label>@Resource.Lunch</label>: Barley and mushroom soup
        </li>
        <li>
           <label>@Resource.Snack  </label>: Guacamole with carrot crackers
        </li>
        <li>
           <label>@Resource.Dinner</label>: Super-easy spaghetti and meatballs with Italian arugula salad
        </li>
        <li>
            <label> @Resource.Dessert </label>   : Chocolate-dipped macaroons
        </li>
    </ul>
    </div>
</fieldset>