@using R
<fieldset>
    <legend>
        @Resource.Watchers
    </legend>
    <div>
        <h1>
            @Resource.Watchers

        </h1>


        <img src="~/Content/Images/dit7.jpg" width="550px" height="250px " />
    </div>


    <h1>
        @Resource.toEat

    </h1>


    <ul>
        <li>
            @Resource.proteins9
            @*Lean proteins like skinless chicken, eggs, tofu, fish, shellfish and non-fat yogurt.*@
        </li>
        <li>
            @Resource.Nonstarchy9
            @*Non-starchy vegetables like broccoli, asparagus, greens, cauliflower and peppers.*@
        </li>
        <li>
            @Resource.Fresh9

            @*Fresh, frozen and unsweetened canned fruit.*@
        </li>
      
        <li>
            @Resource.Healthy9
            @*Healthy carbohydrates such as sweet potatoes, brown rice, oatmeal, beans and whole-grain products.*@
        </li>
        <li>
            @Resource.fats9

            @*Healthy fats like avocado, olive oil and nuts.*@
        </li>

    </ul>

    <h1>
        @Resource.toAvoid</h1>
        <ul>
            <li>
                @Resource.Sugary9

                @*Sugary drinks*@
            </li>
            <li>
                @Resource.Potato9

                @*Potato chips*@
            </li>
            <li>
                @Resource.Processed9

                @*Processed meats*@
            </li>
            <li>
                @Resource.Candy9

                @*Candy*@
            </li>
            <li>
                @Resource.Cakes9

                @*Cakes and cookies*@
            </li>
        </ul>

        <h1>@Resource.menu</h1>
        <h2>@Resource.DayOne</h2>
        <ul>
            <li>
                <label>@Resource.Breakfast</label>:@Resource.Goatcheese9

                @*Goat cheese, spinach and tomato omelet*@
            </li>
            <li>
                <label>@Resource.Lunch</label>:@Resource.Barley9

                @*Barley and mushroom soup*@
            </li>
            <li>
                <label>@Resource.Snack  </label>:@Resource.Guacamole9
                @*Guacamole with carrot crackers*@
            </li>
            <li>
                <label>@Resource.Dinner</label>:@Resource.Supereasy9
                @*Super-easy spaghetti and meatballs with Italian arugula salad*@
            </li>
            <li>
                <label> @Resource.Dessert </label> : @Resource.Chocolate9
                @*Chocolate-dipped macaroons*@
            </li>
        </ul>
        <h2>@Resource.DayTwo</h2>
        <ul>
            <li>
                <label>@Resource.Breakfast</label>:@Resource.Cranberry9
                @*Cranberry-walnut oatmeal*@
            </li>
            <li>
                <label>@Resource.Lunch</label>:@Resource.Egg9
                @*Egg, veggie and avocado salad with tarragon*@
            </li>
            <li>
                <label>@Resource.Dinner</label>: @Resource.Ginger9
                @*Ginger and scallion stir-fried brown rice with ginger shrimp*@
            </li>
            <li>
                <label>@Resource.Snack  </label>: @Resource.Swiss9
                @*Swiss cheese and grapes*@
            </li>
            <li>
                <label> @Resource.Dessert </label>  : @Resource.Baked9
                @*Baked apples with vanilla drizzle*@
            </li>
        </ul>
        <h2>
            @Resource.DayThree

        </h2>
        <ul>
            <li>
                <label>@Resource.Breakfast</label>:@Resource.Mashed9
                @*Mashed avocado tortilla with tomato*@
            </li>
            <li>
                <label>@Resource.Lunch</label>: @Resource.Turkey9
                @*Turkey, apple and blue cheese wrap*@
            </li>
            <li>
                <label>@Resource.Dinner</label>: @Resource.Nonoodle9
                @*No-noodle vegetable lasagna*@
            </li>
            <li>
                <label>@Resource.Snack  </label>: @Resource.Black9
                @*Black bean dip with crudités*@
            </li>
            <li>
                <label> @Resource.Dessert </label> :@Resource.Mini9
                @*Mini-brownie cupcake*@
            </li>
        </ul>
        <h2>
            @Resource.DayFour

        </h2>
        <ul>
            <li>
                <label>@Resource.Breakfast</label>:@Resource.Goatcheese9

                @*Goat cheese, spinach and tomato omelet*@
            </li>
            <li>
                <label>@Resource.Lunch</label>:@Resource.Barley9

                @*Barley and mushroom soup*@
            </li>
            <li>
                <label>@Resource.Snack  </label>:@Resource.Guacamole9
                @*Guacamole with carrot crackers*@
            </li>
            <li>
                <label>@Resource.Dinner</label>:@Resource.Supereasy9
                @*Super-easy spaghetti and meatballs with Italian arugula salad*@
            </li>
            <li>
                <label> @Resource.Dessert </label> : @Resource.Chocolate9
                @*Chocolate-dipped macaroons*@
            </li>
        </ul>
        <h2>@Resource.DayFive</h2>
        <ul>
            
            <li>
                <label>@Resource.Breakfast</label>:@Resource.Cranberry9
                @*Cranberry-walnut oatmeal*@
            </li>
            <li>
                <label>@Resource.Lunch</label>:@Resource.Egg9
                @*Egg, veggie and avocado salad with tarragon*@
            </li>
            <li>
                <label>@Resource.Dinner</label>: @Resource.Ginger9
                @*Ginger and scallion stir-fried brown rice with ginger shrimp*@
            </li>
            <li>
                <label>@Resource.Snack  </label>: @Resource.Swiss9
                @*Swiss cheese and grapes*@
            </li>
            <li>
                <label> @Resource.Dessert </label>  : @Resource.Baked9
                @*Baked apples with vanilla drizzle*@
            </li>
        </ul>
        <h2>
            @Resource.DaySix
        </h2>
        <ul>
            <li>
                <label>@Resource.Breakfast</label>:@Resource.Mashed9
                @*Mashed avocado tortilla with tomato*@
            </li>
            <li>
                <label>@Resource.Lunch</label>: @Resource.Turkey9
                @*Turkey, apple and blue cheese wrap*@
            </li>
            <li>
                <label>@Resource.Dinner</label>: @Resource.Nonoodle9
                @*No-noodle vegetable lasagna*@
            </li>
            <li>
                <label>@Resource.Snack  </label>: @Resource.Black9
                @*Black bean dip with crudités*@
            </li>
            <li>
                <label> @Resource.Dessert </label> :@Resource.Mini9
                @*Mini-brownie cupcake*@
            </li>

        </ul>

        <h2>
            @Resource.DaySeven
        </h2>
        <ul>
            <li>
                <label>@Resource.Breakfast</label>:@Resource.Goatcheese9

                @*Goat cheese, spinach and tomato omelet*@
            </li>
            <li>
                <label>@Resource.Lunch</label>:@Resource.Barley9

                @*Barley and mushroom soup*@
            </li>
            <li>
                <label>@Resource.Snack  </label>:@Resource.Guacamole9
                @*Guacamole with carrot crackers*@
            </li>
            <li>
                <label>@Resource.Dinner</label>:@Resource.Supereasy9
                @*Super-easy spaghetti and meatballs with Italian arugula salad*@
            </li>
            <li>
                <label> @Resource.Dessert </label> : @Resource.Chocolate9
                @*Chocolate-dipped macaroons*@
            </li>
        </ul>
        </div>
</fieldset>