@using R
<fieldset>
    <legend>
        @Resource.Zonediet
    </legend>
    <div>
        <h1>
            @Resource.Zonediet

        </h1>
       
        

        <img src="~/Content/Images/dit2.jpg" width="550px" height="550px " />
    </div>





    <h1>
        @Resource.toEat
    </h1>
    <ul>

        <li>
            Lean beef, pork, lamb, veal and game

        </li>
        <li>
            Skinless chicken and turkey breast
        </li>
        <li>
            Fish and shellfish
        </li>
        <li>
            Vegetarian protein, tofu, other soy products
        </li>
        <li>
            Egg whites
        </li>
        <li>
            Low-fat cheeses
        </li>
        <li>
            Low-fat milk and yogurt

        </li>

        <li>
            Avocados
        </li>
        <li>
            Nuts, such as macadamia, peanuts, cashews, almonds or pistachios
        </li>
        <li>
            Peanut butter
        </li>
        <li>Tahini</li>
        <li>
            Oils such as canola oil, sesame oil, peanut oil and olive oil
        </li>

        <li>
            Fruit such as berries, apples, oranges, plums and more
        </li>
        <li>
            Vegetables such as cucumbers, peppers, spinach, tomatoes, mushrooms, yellow squash, chickpeas and more
        </li>
        <li>
            Grains, such as oatmeal and barley
        </li>
    </ul>

    <h1>@Resource.toAvoid</h1>
    <ul>
        <li>Processed grains and carbs, including bread, bagels and cereal.</li>
        <li>Stay away from pasta.</li>
        <li>
            Potatoes.
        </li>
        <li>
            While small amounts of healthy fats are added to each meal, avoid fatty red meat.
        </li>
        <li>
            Egg yolks.
        </li>
        <li>
            Liver and other organ meats.
        </li>
        <li>
            Processed foods – all high in saturated .
        </li>
        <li>
            Soda (regular or diet)
        </li>


    </ul>

    <h1>
        @Resource.Simple
    </h1>
  
    <ul>
        <li>
            <label>@Resource.Breakfast</label>: Breakfast hash made with bacon and vegetables, or cocoa berry butter smoothie for vegetarians
        </li>

        <li>
            <label>@Resource.Lunch</label> :Zone PastaRX Orzo (a low-carb orzo) with chicken and green beans or curried spinach with tofu for a vegetarian option
        </li>

        <li>
            <label>@Resource.Dinner</label>:  Almond chicken with vegetables or barbecue tempeh and vegetables for those who follow a vegetarian or plant-based diet
        </li>
        <li>
            <label>@Resource.Snack</label>: Blackberry shrimp salad or asparagus artichoke salad for a vegan option

        </li>
    </ul>

    </div>
</fieldset>