@using R
<fieldset>
    <legend>
        @Resource.Zonediet
    </legend>
    <div>
        <h1>
            @Resource.Zonediet

        </h1>



        <img src="~/Content/Images/dit2.jpg" width="550px" height="550px " />
    </div>
    <h1>
        @Resource.toEat
    </h1>
    <ul>

        <li>
            @Resource.Leanbeef8
            @*Lean beef, pork, lamb, veal and game*@

        </li>
        <li>
            @Resource.Skinlesschicken8
            @*Skinless chicken and turkey breast*@
        </li>
        <li>
            @Resource.Fishand8
            @*Fish and shellfish*@
        </li>
        <li>
            @Resource.Vegetarianprotein8
            @*Vegetarian protein, tofu, other soy products*@
        </li>
        <li>
            @Resource.Eggwhites8
            @*Eggwhites*@
        </li>
        <li>
            @Resource.cheeses8
            @*Low-fat cheeses*@
        </li>
        <li>
            @Resource.fatmilk8

        </li>

        <li>
            @Resource.Avocados8
            @*Avocados*@
        </li>
        <li>
            @Resource.suchas8
            @*Nuts, such as macadamia, peanuts, cashews, almonds or pistachios*@
        </li>
        <li>
            @Resource.Peanutbutter8
            @*Peanutbutter*@
        </li>
        <li>
            @Resource.Tahini8
            
        </li>
        <li>
            @Resource.canolaoil8
            @*Oils such as canola oil, sesame oil, peanut oil and olive oil*@
        </li>

        <li>
            @Resource.asberries8
        </li>
        <li>
            @Resource.cucumbers8
            @*Vegetables such as cucumbers, peppers, spinach, tomatoes, mushrooms, yellow squash, chickpeas and more*@
        </li>
        <li>
            @Resource.oatmeal8
            @*Grains, such as oatmeal and barley*@
        </li>
    </ul>

    <h1>@Resource.toAvoid</h1>
    <ul>
        <li>
            @Resource.bagels8
        </li>
        <li>
            @Resource.pasta8
            @*Stay away from pasta.*@
        </li>
        <li>
            @Resource.Potatoes8

            @*Potatoes.*@
        </li>
        <li>
            @Resource.meal8
            @*While small amounts of healthy fats are added to each meal, avoid fatty red meat.*@
        </li>
        <li>
            @Resource.Eggyolks8
            @*Egg yolks.*@
        </li>
        <li>
            @Resource.Liver8
            @*Liver and other organ meats.*@
        </li>
        <li>
            @Resource.saturated8
            @*Processed foods – all high in saturated .*@
        </li>
        <li>
            @Resource.Soda8
            @*Soda (regular or diet)*@
        </li>


    </ul>

    <h1>
        @Resource.Simple
    </h1>

    <ul>
        <li>
            <label>@Resource.Breakfast</label>:@Resource.cocoa8
            @*Breakfast hash made with bacon and vegetables, or cocoa berry butter smoothie for vegetarians*@
        </li>

        <li>
            <label>@Resource.Lunch</label>:@Resource.PastaRX8
            @*Zone PastaRX Orzo (a low-carb orzo) with chicken and green beans or curried spinach with tofu for a vegetarian option*@
        </li>

        <li>
            <label>@Resource.Dinner</label>: @Resource.Almond8
        </li>
        <li>
            <label>@Resource.Snack</label>: @Resource.shrimp8
            @*Blackberry shrimp salad or asparagus artichoke salad for a vegan option*@

        </li>
    </ul>

    </div>
</fieldset>