@using R

 @using(Html.BeginForm())
{

<fieldset>
    
    <h1>@Resource.Exercise</h1> 
    
    <div id="exe">
      
        <div>
            <h3>
         @Resource.HandsandWaistExercises            </h3>

            <a href="https://www.youtube.com/watch?v=Xi33JHnAd9I" target="_blank" class="btn btn-success btn-lg active">
                Exercise1
            </a>
        </div>
        <div>
            <h3>@Resource.HandsandFeetExercise</h3>
            <a href="https://www.youtube.com/watch?v=Rizij3icAOU"target="_blank"  class="btn btn-success btn-lg active">
                Exercise2
            </a>
        </div>

        <div>
            <h3>@Resource.ButtockandLegandHandsExercises</h3>
            <a href="https://www.youtube.com/watch?v=8MImdWV2WfI"target="_blank"  class="btn btn-success btn-lg active">
                Exercise3
            </a>
        </div>
        <div>
            <h3>@Resource.TotalBodyExercise</h3>
            <a href="https://www.youtube.com/watch?v=B73nGbdj2uc"target="_blank"  class="btn btn-success btn-lg active">
                Exercise4
            </a>
        </div>
        <div>
            <h3>@Resource.BoxingExercise</h3>
            <a href="https://www.youtube.com/watch?v=jny27rCNDiE"target="_blank"  class="btn btn-success btn-lg active">
                Exercise5
            </a>
        </div>
        <div>
            <h3>@Resource.PilatesExercise</h3>
            <a href="https://www.youtube.com/watch?v=amCAXuyxqgU"target="_blank"  class="btn btn-success btn-lg active">
                Exercise6
            </a>
        </div>
        <div>
            <h3>@Resource.LowerBodyExercises</h3>
            <a href="https://www.youtube.com/watch?v=e8opMY-SoZc"target="_blank" class="btn btn-success btn-lg active">
                Exercise7
            </a>
        </div>
        <div>
            <h3>@Resource.StomachandAbdominalExercises</h3>
            <a href="https://www.youtube.com/watch?v=ocBCgWtukn4"target="_blank" class="btn btn-success btn-lg active">
                Exercise8
            </a>
        </div>
        <div>
            <h3>@Resource.HandsandFeetExercises</h3>

            <a href="https://www.youtube.com/watch?v=Rizij3icAOU"target="_blank" class="btn btn-success btn-lg active">
                Exercise9
            </a>
        </div>
        <div>
            <h3>@Resource.ButtocksandUpperLegsPainExercises </h3>
            <a href="https://www.youtube.com/watch?v=50kH47ZztHs"target="_blank" class="btn btn-success btn-lg active" >
                Exercise10
            </a>
        </div>

        <div>
            <h3>@Resource.CardioandLegsExercises</h3>
            <a href="https://www.youtube.com/watch?v=g98g7bMQcbc"target="_blank"  class="btn btn-success btn-lg active">
                Exercise11
            </a>
        </div>

        <div>
            <h3>@Resource.BoxingExercises</h3>

            <a href="https://www.youtube.com/watch?v=rVjSQ6NXAO8"target="_blank"  class="btn btn-success btn-lg active">
                Exercise12
            </a>
        </div>
    </div>
</fieldset>
}
