@using R

<div id="loginbar">
    <div class="center">
        <div id="loginctrl">
            <a href="@Url.Content("~/account/signin")">@Resource.Signin</a>
            <a href="@Url.Content("~/account/signup")">@Resource.signup</a>
        </div>
        @*<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="~/Content/Images/nutrition.jpg" alt="First slide" />
                </div>
                <div class="carousel-item">
                    <img src="~/Content/Images/sport7.jpg" class="d-block w-100" alt="Second slide" />
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/Content/Images/nutrition.jpg" alt="First slide" />
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>*@
        @*<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="~/Content/Images/nutrition.jpg" alt="First slide" />
                </div>
                <div class="carousel-item">
                    <img src="~/Content/Images/sport7.jpg" class="d-block w-100" alt="Second slide" />

                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/Content/Images/nutrition.jpg" alt="First slide" />

                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>*@
    </div>
</div>
<p>"<label>@Resource.Healthy</label>@*Healthy living" to most people means both physical and mental health are in balance or functioning well together in a person. In many instances, physical and mental health are closely linked, so that a change (good or bad) in one directly affects the other. Consequently, some of the tips will include suggestions for emotional and mental "healthy living."*@</p>
