@using R

<div id="loginbar">
    <div class="center">
        <div id="loginctrl">
            <a href="@Url.Content("~/account/signin")">@Resource.Signin</a>
            <a href="@Url.Content("~/account/signup")">@Resource.signup</a>
        </div>
    </div>
</div>
<p>"<label>@Resource.Healthy</label>@*Healthy living" to most people means both physical and mental health are in balance or functioning well together in a person. In many instances, physical and mental health are closely linked, so that a change (good or bad) in one directly affects the other. Consequently, some of the tips will include suggestions for emotional and mental "healthy living."*@</p>
