@using R
<fieldset>
    <legend>
        @Resource.Asparaguspasta
    </legend>

    <div>
        <h2>
            @Resource.Asparaguspasta
        </h2>
        @*<img src="~/Content/Images/imag11.jpg" width="550px" height="550px" />*@

        <ul>
            <p>@Resource.Ingredients </p>
            <ol>
                <li>
                    @Resource.Pasta1    @*Pasta: Bottle (preferred shape)*@
                </li>
                <li>
                    @Resource.Oliveoil1   @*Olive oil: 1 tablespoon*@
                </li>
                <li>
                    @Resource.Asparagus1  @*Asparagus: 2 cups (fresh or sorted / boiled and drained)*@
                </li>
                <li>
                    @Resource.Onions1  @*Onions: 1 grain (finely chopped)*@

                </li>
                <li>
                    @Resource.Garlic1   @*Garlic: 2 cloves (crushed)*@

                </li>
                <li>
                    @Resource.Drybasil1 @*Dry basil: half a teaspoon (ground)*@
                </li>
                <li>
                    @Resource.CookingCream1   @*Cooking Cream: (Light) Cup*@
                </li>
                <li>
                    @Resource.Vegetablebroth1   @*Vegetable broth: a quarter cup*@
                </li>
                <li>
                    @Resource.Salthalf1   @*Salt: half a teaspoon*@
                </li>
                <li>
                    @Resource.BlackPepper1  @*Black Pepper: 1/4 teaspoon*@
                </li>


            </ol>
        </ul>
        <ul>
            <p>@Resource.Howto  </p>
            <ol>
                <li>
                    @Resource.Boil1    @*Boil the pasta according to the instructions on the package, wrap it up, wash it in cold water and set it aside.*@
                </li>
                <li>
                    @Resource.Heatthe1   @*Heat the oil in a large skillet over medium heat, add onions and stir for 5 minutes until wilted.*@

                </li>
                <li>
                    @Resource.Addgarlic1   @*Add garlic and asparagus and stir for 3 minutes, then add salt, basil, black pepper and broth and leave the mixture until boiling for 10 minutes.*@
                </li>
                <li>
                    @Resource.Addthe1 @*Add the cream, filtered pasta, and stir until the ingredients mix, and simmer for 5 minutes.*@
                </li>
                <li>
                    @Resource.Pourthe1  @*Pour the pasta into dishes and serve hot.*@
                </li>

            </ol>
        </ul>
    </div>
</fieldset>