@using R
<fieldset>
    <legend>@Resource.Beeffajita</legend>
    <div>
        <h2> @Resource.Beeffajita </h2>
        @*<img src="~/Content/Images/imag4.jpg" width="550px" height="550px" />*@
        <ul>
            <p>@Resource.Ingredients </p>
            <ol>
                <li>
                    @Resource.MeatFillet1  @*Meat Fillet: 500 grams (longitudinal sliced section)*@

                </li>
                <li>
                    @Resource.Onions2 @*Onions: 1 grain (chopped slices)*@
                </li>
                <li>
                    @Resource.redpepper2  @*red pepper: 1 tablet (chopped slices)*@
                </li>
                <li>
                    @Resource.Yellowpepper2  @*Yellow pepper: 1 tablet (sliced minced)*@

                </li>
                <li>
                    @Resource.Cumin2  @*Cumin: half a teaspoon (ground)*@
                </li>
                <li>
                    @Resource.Redhotpepper2   @*Red hot pepper: half a teaspoon (ground)*@
                </li>
                <li>
                    @Resource.vegetables2    @*Vegetable oil: 1 tablespoon*@
                </li>
                <li>
                    @Resource.Salthalf1  @*Salt: half a teaspoon*@
                </li>
                <li>
                    @Resource.BlackPepper1  @*Black Pepper: 1/4 teaspoon*@
                </li>
                <li>
                    @Resource.GreenCoriander2  @*Green Coriander: 2 teaspoon (fresh and chopped)*@
                </li>
                <li>
                    @Resource.Avocadopiece2  @*Avocado: 1 piece (peeled and sliced)*@
                </li>

            </ol>
        </ul>
        <ul>
            <p>@Resource.Howto  </p>
            <ol>
                <li>
                    @Resource.Heatathick2  @*Heat a thick, wide skillet over medium heat, then add oil and meat and stir the meat for 3 minutes until it becomes brown.*@
                </li>
                <li>
                    @Resource.Seasonthe2  @*Season the meat with salt and pepper, and stir for another minute, then lift the meat from the pan and set it aside.*@
                </li>
                <li>
                    @Resource.Addtothe2  @*Add to the same skillet onions, red pepper, yellow pepper, cumin, ground chili pepper, and stir over medium to high heat for 5 minutes*@
                </li>


            </ol>
        </ul>
    </div>
</fieldset>