@using R
<fieldset>
   
    <div>
        <h1>
            @Resource.carrot
        </h1>
        @*<img src="~/Content/Images/image2.jpg" width="550px" height="550px" />*@

        <ul>
            <h2>@Resource.Ingredients </h2>
            <ol>
                <li>
                    @Resource.Carrots3  @*Carrots: 2 tablets (peeled and chopped slices)*@

                </li>
                <li>
                    @Resource.Peas3  @*Peas: a cup (frozen)*@
                </li>
                <li>
                    @Resource.Celery3   @*Celery: half a cup (minced)*@
                </li>
                <li>
                    @Resource.Salthalf1  @*Salt: half a teaspoon*@

                </li>
                <li>
                    @Resource.Cumin2  @*Cumin: 1/4 teaspoon (ground)*@
                </li>
                <li>
                    @Resource.Lemonjuice3  @*Lemon juice: 1 tablespoon*@
                </li>
                <li>
                    @Resource.Oliveoil1  @*Olive oil: 1 tablespoon*@
                </li>

            </ol>
        </ul>
        <ul>
            <h2>@Resource.Howto</h2>
            <ol>
                <li>
                    @Resource.Boilcarrots3  @*Boilcarrots, peas and celery in boiling water for 10 minutes, then filter and wash with cold water and put them in a dish.*@
                </li>
                <li>
                    @Resource.Addsalt3  @*Addsalt, cumin, lemon juice, olive oil and mix well.*@
                </li>
                <li>
                    @Resource.Servewarm3 @*Serve warm or cold to taste, along with grilled meat or chicken.*@
                </li>


            </ol>
        </ul>
    </div>
</fieldset>