@using R
<fieldset>
    
    <div>
        <h1> @Resource.Broccoli </h1>
        @*<img src="~/Content/Images/imag9.jpg" width="550px" height="550px" />*@

        <ul>
            <h2>
                @Resource.Ingredients

            </h2>
            <ol>
                <li>
                    @Resource.Oliveoil1  @*Olive oil: 1 tablespoon*@

                </li>
                <li>
                    @Resource.Onionsgrain4  @*Onions: 1 grain (chopped)*@
                </li>
                <li>
                    @Resource.Garliccloves4  @*Garlic: 3 cloves (minced)*@
                </li>
                <li>
                    @Resource.Broccoli4  @*Broccoli: 3 cups (small or fresh cut flowers)*@

                </li>
                <li>
                    @Resource.Potatoesgrain4  @*Potatoes: 1 grain (small and chopped)*@

                </li>
                <li>
                    @Resource.Chickenbroth4  @*Chickenbroth: 4 cups*@
                </li>
                <li>
                    @Resource.Nutmeg4   @*Nutmeg: a quarter of a teaspoon*@
                </li>
                <li>
                    @Resource.Salthalf1   @*Salt: half a teaspoon*@
                </li>
                <li>
                    @Resource.BlackPepper1  @*Black Pepper: 1/4 teaspoon*@
                </li>


            </ol>
        </ul>
        <ul>
            <h2> @Resource.Howto</h2>
            <ol>
                <li>
                    @Resource.oliveoil4  @*Heat oliveoil in a saucepan over medium heat, then add onions and garlic and stir until soft.*@
                </li>
                <li>
                    @Resource.Addbroccoli4  @*Add broccoli, potatoes and chicken broth, leave the mixture until it boils, then reduce heat and leave for 15 minutes until the ingredients are tender.*@

                </li>
                <li>
                    @Resource.Mixthe4  @*Mix the scourer with the electric mixer until it becomes a smooth mixture, return it to a saucepan and heat it.*@
                </li>
                <li>
                    @Resource.Seasonwith4  @*Season with salt, pepper and nutmeg and serve hot.*@
                </li>


            </ol>
        </ul>

    </div>
</fieldset>