@using R
<fieldset>
    
    <div>
        <h2>
            @Resource.Bulgurtomato
            </h2>
                @*<img src="~/Content/Images/imag7.jpg" width="550px" height="550px" />*@

                <ul>
                    <h2>@Resource.Ingredients </h2>
                    <ol>
                        <li>
                            @Resource.Finewhite5   @*Fine white bulgur: a cup*@
                        </li>
                        <li>
                            @Resource.Lemonjuice5   @*Lemonjuice: a quarter cup*@
                        </li>
                        <li>
                            @Resource.Oliveoil5   @*Olive oil: 1 tablespoon*@
                        </li>
                        <li>
                            @Resource.Tomato5  @*Tomato: 1 grain (chopped slices)*@
                        </li>
                        <li>
                            @Resource.Parsley5   @*Parsley: 2 teaspoon*@
                        </li>
                        <li>
                            @Resource.Salthalf1  @*Salt: half a teaspoon*@

                        </li>
                        <li>
                            @Resource.BlackPepper1  @*Black Pepper: 1/4 teaspoon*@

                        </li>
                        <li>
                            @Resource.Option5  @*Option: 1 piece (finely chopped)*@

                        </li>

                    </ol>
                </ul>
                <ul>
                    <h2>@Resource.Howto  </h2>
                    <ol>
                        <li>
                            @Resource.Soakthe5  @*Soak the bulgur with lemon juice and leave it for half an hour until the mixture is absorbed and then stir with a fork.*@
                        </li>
                        <li>
                            @Resource.Mixtomatoes5  @*Mix tomatoes, cucumbers, parsley in a dish, add bulgur and my heart.*@

                        </li>
                        <li>

                            @Resource.Seasonwith5   @*Seasonwith salt, pepper and olive oil, and serve.*@
                        </li>
                    </ol>
                </ul>
    </div>
</fieldset>