@using R
<fieldset>
    

    <div>
        <h1>
            @Resource.crisppancake
        </h1>
        @*<img src="~/Content/Images/imag10.jpg" width="550px" height="550px" />*@

        <ul>
            <h1>@Resource.Ingredients </h1>
            <ol>
                <li>
                    @Resource.Butter8  @*Butter: 2 teaspoon*@
                </li>
                <li>
                    @Resource.Milk8 @*Milk: half a cup (low fat)*@
                </li>
                <li>
                    @Resource.Eggs8  @*Eggs: 3 pieces*@
                </li>
                <li>
                    @Resource.Vanilla8  @*Vanilla: 1 teaspoon*@

                </li>
                <li>
                    @Resource.Flour8   @*Flour: Half a cup (brown)*@

                </li>
                <li>
                    @Resource.Sugar8   @*Sugar: 1 tablespoon*@
                </li>
                <li>
                    @Resource.Salt8  @*Salt: 1/4 teaspoon*@
                </li>
                <li>
                    @Resource.Cinnamon8  @*Cinnamon: 1/4 teaspoon (ground)*@
                </li>
                <li>
                    @Resource.Cherry8   @*Cherry: 2 cups (dried)*@
                </li>


            </ol>
        </ul>
        <ul>
            <h2>@Resource.Howto </h2>
            <ol>
                <li>
                    @Resource.Preheat8   @*Preheat the oven to 450 degrees*@
                </li>
                <li>
                    @Resource.Spread8  @*Spread a tablespoon of butter in a small non-stick tray and put it in the oven until the butter spoon melts.*@

                </li>
                <li>
                    @Resource.Melt8  @*Melt the other spoon of butter, put it in a bowl, then add the bowl of milk, eggs and vanilla and mix.*@
                </li>
                <li>
                    @Resource.Addflour8  @*Add flour, sugar, salt, cinnamon and mix until the ingredients are mixed*@
                </li>
                <li>
                    @Resource.thepreviously8  @*In the previously prepared tray, distribute the cherry kernels, then add the pancake mixture*@
                </li>

            </ol>
        </ul>
    </div>
</fieldset>