@using R
<fieldset>
   
    <div>
        <h1> @Resource.fish</h1>
        @*<img src="~/Content/Images/imag3.jpg" width="550px" height="550px" />*@

        <ul>
            <h2>@Resource.Ingredients </h2>
            <ol>
                <li>
                    @Resource.Fish11   @*Fish: 2 pieces (full fish / your favorite type / kilo weight / cleaner)*@

                </li>
                <li>
                    @Resource.Lemonjuice5  @*Lemon juice: half a cup*@
                </li>
                <li>
                    @Resource.Oliveoil1  @*olive oil: 2 teaspoon*@
                </li>
                <li>
                    @Resource.Cumin7   @*Cumin: a teaspoon*@

                </li>
                <li>
                    @Resource.Fishseasoning11   @*Fish seasoning: half a teaspoon*@
                </li>
                <li>
                    @Resource.Garliccloves4 @*Garlic: 3 cloves (crushed fine)*@
                </li>
                <li>
                    @Resource.BlackPepper1  @*Black Pepper: Half a teaspoon*@
                </li>
                <li>
                    @Resource.Lemon11  @*Lemon: 1 grain (sliced)*@
                </li>
                <li>
                    @Resource.Rosemary11 @*Rosemary: 2 sticks (fresh)*@
                </li>

            </ol>
        </ul>
        <ul>
            <h2>@Resource.Howto </h2>
            <ol>
                <li>
                    @Resource.Makecracks11  @*Make cracks with a sharp knife in the fish and place them in the oven tray.*@
                </li>
                <li>
                    @Resource.Mixthe11  @*Mix the olive oil, lemon juice, garlic, salt, pepper, cumin and fish spices in a good dish.*@
                </li>
                <li>
                    @Resource.Greasethe11   @*Grease the fish mixture well on all sides and pour the rest of the mixture over the fish in the tray.*@
                </li>
                <li>
                    @Resource.Spread11  @*Spread lemon slices and rosemary in the tray.*@
                </li>
                <li>
                    @Resource.Preheat11 @*Preheat the oven to 200 degrees.*@
                </li>
                <li>
                    @Resource.Cover11 @*Cover the tray with aluminum foil and put it in the oven for 25 minutes.*@
                </li>

                <li>
                    @Resource.Reduceheat11  @*Reduce heat, remove aluminum foil and leave it for an additional 10 minutes until the fish is completely tender.*@
                </li>
                <li>
                    @Resource.Reddish11   @*Reddish the face and feet hot along with salads or grilled vegetables, as desired.*@
                </li>


            </ol>
        </ul>
    </div>


</fieldset>