@using R
<fieldset>
   
    <h1>@Resource.chickenherbs </h1>
    <div>
        @*<img src="~/Content/Images/imag8.jpg" width="550px" height="550px" />*@

        <ul>
            <h1>@Resource.Ingredients </h1>
            <ol>
                <li>
                    @Resource.Paprika10  @*Paprika: two and a half tablespoons (ground)*@

                </li>
                <li>
                    @Resource.Garlic10  @*Garlic powder: 2 tablespoons*@
                </li>
                <li>
                    @Resource.Salthalf1 @*Salt: 1 teaspoon*@
                </li>
                <li>
                    @Resource.Onionpowder10 @*Onion powder: 1 tablespoon*@

                </li>
                <li>
                    @Resource.DriedHerbs10  @*Dried Herbs: 1 tablespoon*@
                </li>
                <li>
                    @Resource.chili10  @*chili: teaspoon (ground)*@

                </li>
                <li>
                    @Resource.BlackPepper1  @*Black Pepper: 1 tablespoon*@
                </li>
                <li>
                    @Resource.Salthalf1   @*Salt: half a teaspoon*@
                </li>

                <li>
                    @Resource.Chickenbreast10  @*Chicken breast: 4 breasts (crushed fillet)*@
                </li>

            </ol>
        </ul>
        <ul>
            <p>@Resource.Howto </p>
            <ol>
                <li>
                    @Resource.amedium10  @*In a medium bowl, mix paprika, garlic powder, salt, onion powder, dried herbs, hot pepper, and black pepper until the ingredients are mixed.*@

                </li>
                <li>
                    @Resource.Heatthe10  @*Heat the grill over medium heat and grease the chicken pieces with a mixture of spices from all sides*@

                </li>
                <li>
                    @Resource.Grease10   @*Grease the grill with oil with a brush, put the spiced chicken and stir from both sides until it comes down and softens*@
                </li>


            </ol>
        </ul>
    </div>
</fieldset>