@using R

<fieldset>
   
    <div>
        <h1>
            @Resource.Marinatedchicken
        </h1>
        @*<img src="~/Content/Images/imag15.jpg" width="550px" height="550px" />*@

        <ul>
            <h2> @Resource.Ingredients </h2>
            <ol>
                <li>
                    @Resource.Chickenbreast13   @*Chicken breast: 2 breasts (crushed fillet)*@

                </li>
                <li>
                    @Resource.Salthalf1 @*Salt: half a teaspoon*@
                </li>
                <li>
                    @Resource.BlackPepper1  @*Black Pepper: 1/4 teaspoon*@
                </li>
                <li>
                    @Resource.Garlic13   @*Garlic: clove (crushed fine)*@

                </li>
                <li>
                    @Resource.Garlic13  @*Garlic: 2 cloves (crushed)*@

                </li>
                <li>
                    @Resource.Soy13  @*Soy sauce: 1 tablespoon*@
                </li>
                <li>
                    @Resource.Oliveoil5 @*Olive oil: 1 tablespoon*@
                </li>
                <li>
                    @Resource.Lemonzest13  @*Lemon zest: Half a teaspoon*@
                </li>
                <li>
                    @Resource.Salthalf1  @*Salt: half a teaspoon*@
                </li>
                <li>
                    @Resource.Yogurt13   @*Yogurt: 1 tablespoon*@
                </li>


            </ol>
        </ul>
        <ul>
            <h2> @Resource.Howto</h2>
            <ol>
                <li>
                    @Resource.Mix13   @*Mix the yogurt with garlic, olive oil and sprinkle the lemon in a dish.*@
                </li>
                <li>
                    @Resource.Addsoy13  @*Add soy sauce, salt, pepper and my heart.*@

                </li>
                <li>
                    @Resource.crushed13  @*Add the crushed chicken steak, mix it well and seasoning, then put it in the refrigerator for an entire night.*@
                </li>
                <li>
                    @Resource.Heat13   @*Heat the grill and roast the marinated chicken for 20 minutes on both sides, until browned and cooked.*@
                </li>
                <li>
                    @Resource.Serve13 @*Serve hot with sauteed vegetables or salad as desired.*@
                </li>

            </ol>
        </ul>
    </div>
</fieldset>
