@using R

<fieldset>
   

    <div>
        <h1>
            @Resource.Mushroomchicken
        </h1>
        @*<img src="~/Content/Images/imag13.jpg" width="550px" height="550px" />*@

        <ul>
            <h2> @Resource.Ingredients </h2>
            <ol>
                <li>
                    @Resource.Mushroom13   @*Mushroom: 2 cups (sliced)*@
                </li>
                <li>
                    @Resource.Green13    @*Green Pepper: 1 piece (sliced)*@
                </li>
                <li>
                    @Resource.Yellowpepper13   @*Yellow pepper: 1 tablet (sliced)*@
                </li>
                <li>
                    @Resource.redpepper13   @*red pepper: 1 piece (sliced)*@

                </li>
                <li>
                    @Resource.Chicken13   @*Chicken breast: 2 breasts (boiled, thinly sliced)*@

                </li>
                <li>
                    @Resource.Carrot13  @*Carrot: 2 tablets (chopped slices)*@
                </li>
                <li>
                    @Resource.Garlic13   @*Garlic: cloves (minced)*@
                </li>
                <li>
                    @Resource.Green13   @*Green onions: 2 sticks (minced)*@
                </li>
                <li>
                    @Resource.Olive13   @*Olive oil: two tablespoons*@
                </li>
                <li>
                    @Resource.Oregano13  @*Oregano:half pill*@
                </li>
                <li>
                    @Resource.Lemonjuice6 @*Lemon juice: 1 pill*@
                </li>
                <li>
                    @Resource.Water13   @*Water: half a cup*@
                </li>
                <li>
                    @Resource.Salthalf1  @*Salt: 1/4 teaspoon*@
                </li>
                <li>
                    @Resource.BlackPepper1 @*Black Pepper: 1/4 teaspoon*@
                </li>
            </ol>
        </ul>
        <ul>
            <h2> @Resource.Howto</h2>
            <ol>
                <li>
                    @Resource.Heatthe13  @*Heat the oil in a saucepan over the heat, and stir the mushrooms, slices of garlic, colored pepper and carrots over a high heat.*@
                </li>
                <li>
                    @Resource.spice13  @*Add the chicken, salt, spice, lemon juice and water, cover the pot and leave it on the heat for 10 - 15 minutes without drying the water.*@
                </li>
                <li>
                    @Resource.leave13  @*Add the oregano and green onions, leave an extra 5 minutes on the heat, then pour with the remaining broth and serve hot*@
                </li>

            </ol>
        </ul>
    </div>
</fieldset>