@using R
@model HealthyLineProject.Models.RrcipesModel
<div id="loginbar2">
    <div class="center">
        <div id="loginctrl3">
            <fieldset>
                <legend>@Resource.RecipesBook</legend>

                <a href="@Url.Content("~/RrcipesBook/Potato")">@Resource.Potato </a>
                <img src="~/Content/Images/imag1.jpg" width="550px" height="550px " />

                <p class="line">------------------------------------------------------------------------------------------------------</p>
                <a href="@Url.Content("~/RrcipesBook/Boiled")">@Resource.carrot</a>
                <img src="~/Content/Images/image2.jpg" width="550px" height="550px" />

                <p class="line">------------------------------------------------------------------------------------------------------</p>

                <a href="@Url.Content("~/RrcipesBook/Grilledfish")"> @Resource.fish</a>
                <img src="~/Content/Images/imag3.jpg" width="550px" height="550px" />
                <p class="line">------------------------------------------------------------------------------------------------------</p>

                <a href="@Url.Content("~/RrcipesBook/Beef")">@Resource.Beeffajita</a>
                <img src="~/Content/Images/imag4.jpg" width="550px" height="550px" />
                <p class="line">------------------------------------------------------------------------------------------------------</p>

                <a href="@Url.Content("~/RrcipesBook/Grilledchicken")">@Resource.Grilledchicken</a>
                <img src="~/Content/Images/imag5.jpg" width="550px" height="550px" />
                <p class="line">------------------------------------------------------------------------------------------------------</p>

                <a href="@Url.Content("~/RrcipesBook/Chinese")">@Resource.Chinesepumpkin</a>
                <img src="~/Content/Images/imag6.jpg" width="550px" height="550px" />
                <p class="line">------------------------------------------------------------------------------------------------------</p>

                <a href="@Url.Content("~/RrcipesBook/Bulgurtomato")">@Resource.Bulgurtomato</a>
                <img src="~/Content/Images/imag7.jpg" width="550px" height="550px" />
                <p class="line">------------------------------------------------------------------------------------------------------</p>

                <a href="@Url.Content("~/RrcipesBook/Grilledchickenlemon")">@Resource.chickenherbs</a>
                <img src="~/Content/Images/imag8.jpg" width="550px" height="550px" />

                <p class="line">------------------------------------------------------------------------------------------------------</p>

                <a href="@Url.Content("~/RrcipesBook/BroccoliLight")">@Resource.Broccoli </a>
                <img src="~/Content/Images/imag9.jpg" width="550px" height="550px" />
                <p class="line">------------------------------------------------------------------------------------------------------</p>

                <a href="@Url.Content("~/RrcipesBook/crisppancake")">@Resource.crisppancake </a>
                <img src="~/Content/Images/imag10.jpg" width="550px" height="550px" />
                <p class="line">------------------------------------------------------------------------------------------------------</p>

                <a href="@Url.Content("~/RrcipesBook/Asparagus")">@Resource.Asparaguspasta</a>
                <img src="~/Content/Images/imag11.jpg" width="550px" height="550px" />
                <p class="line">------------------------------------------------------------------------------------------------------</p>

                <a href="@Url.Content("~/RrcipesBook/>Chickenhot")">>@Resource.Chickenhot</a>
                <img src="~/Content/Images/imag12.jpg" width="550px" height="550px" />
                <p class="line">------------------------------------------------------------------------------------------------------</p>

                <a href="@Url.Content("~/RrcipesBook/Mushroomchicken")"> @Resource.Mushroomchicken</a>
                <img src="~/Content/Images/imag13.jpg" width="550px" height="550px" />
                <p class="line">------------------------------------------------------------------------------------------------------</p>

                <a href="@Url.Content("~/RrcipesBook/Indiansamosa")"> @Resource.samosa</a>
                <img src="~/Content/Images/imag14.jpg" width="550px" height="550px" />
                <p class="line">------------------------------------------------------------------------------------------------------</p>

                <a href="@Url.Content("~/RrcipesBook/Marinatedchicken")">@Resource.Marinatedchicken</a>
                <img src="~/Content/Images/imag15.jpg" width="550px" height="550px" />
            </fieldset>

        </div>
    </div>
</div>



