@using R;
@using System.Threading;
@using HealthyLineProject.Helper;
@using System.Globalization;

<!DOCTYPE html>
<html dir="@(System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.IsRightToLeft? "rtl" : "ltr")">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/scripts.js"></script>


</head>
<body>

    <div @*class="navbar navbar-inverse navbar-fixed-top*@ ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("HealthyLine", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>

                        <a href="/" class="btn btn-danger btn-lg active"> @Resource.Home</a>
                        @*<a href="/"> @Resource.Home </a>*@
                    </li>
                    <li>

                        <a href="@Url.Content("~/Account/IdealWeight")" class="btn btn-warning btn-lg active">@Resource.IdealWeight</a>

                        @*<a href="@Url.Content("~/Account/IdealWeight")">Ideal Weight</a>*@
                    </li>
                    <li>

                        <a href="@Url.Content("~/DitePrograms/Dietprogram")" class="btn btn-success btn-lg active">@Resource.Dietprograms</a>

                        @*<a href="@Url.Content("~/DitePrograms/Dietprogram")">@Resource.Dietprograms</a>*@
                    </li>
                    <li>

                        <a href="@Url.Content("~/RrcipesBook/RecipesBook")" class="btn btn-danger btn-lg active">@Resource.RecipesBook</a>

                        @*<a href="@Url.Content("~/RrcipesBook/RecipesBook")">@Resource.RecipesBook</a>*@
                    </li>
                    <li>
                        <a href="@Url.Content("~/CalorieGuide/CalorieGuide")" class="btn btn-warning btn-lg active">@Resource.CalorieGuide</a>

                        @*<a href="@Url.Content("~/CalorieGuide/CalorieGuide")">@Resource.CalorieGuide</a>*@
                    </li>
                    <li>

                        <a href="@Url.Content("~/Exercise/Exercise")" class="btn btn-success btn-lg active">@Resource.Exercise</a>
                    </li>

                    <li>

                        <a href="@Url.Content("~/Contact/contact")" class="btn btn-danger btn-lg active">@Resource.Contact</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    @{
                        CultureInfo currentCulture = Thread.CurrentThread.CurrentCulture;

                        <li><a href="/Home/ChangeCurrentCulture/0" class="btn btn-secondary btn-lg active">English</a></li>
                        <li><a href="/Home/ChangeCurrentCulture/1" class="btn btn-secondary btn-lg active">عربي</a></li>
                    }
                </ul>
            </div>

        </div>
    </div>


    <div class="container body-content">
        <div id="loginctrl">
            @if (User != null && User.Identity.IsAuthenticated)
            {
                // add the dropdown
                <div class="dropdown">
                    <button onclick="myFunction()" class="dropbtn">@User.Identity.Name</button>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="~/account/MyProfile">@Resource.Myprofile</a>
                        <a href="~/account/settings">@Resource.Settings</a>
                        <a href="@Url.Content("~/account/signout")">@Resource.Signout</a>
                    </div>
                </div>
            }
            else
            {
                // add links

                <a href="@Url.Content("~/account/signin")" class="btn btn-info btn-lg active" role="button" aria-pressed="true">@Resource.Signin</a>
                <a href="@Url.Content("~/account/signup")" class="btn btn-info btn-lg active" role="button" aria-pressed="true">@Resource.signup</a>
            }
        </div>

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
