@model MvcApplication1.Models.IdealWeightController

@using (Html.BeginForm())
{
    <fieldset>
        <legend>IdealWeight</legend>
        <ul>
           @* <li>
    @Html.LabelFor(x=>x.weight1)
    @Html.TextBoxFor(x=>x.weight1)
@Html.ValidationMessageFor(x=>x.weight1)

            </li>
    
   
    <li>
    @Html.LabelFor(x=>x.height1)
    @Html.TextBoxFor(x=>x.height1)
    @Html.ValidationMessageFor(x=>x.height1)
            </li>*@
       
   <li>
       <label>weight</label>
       <text>111</text>
@*       @Html.TextBoxFor(x=>x.weight1)*@
   </li>
    <li>
    <input type="submit" value="Calculate" /> 
        </li>
        </ul>
    </fieldset>

}