@using R
@model HealthyLineProject.Models.UserProfileModel

@if (ViewBag.Error != "")
    {
        <div>@ViewBag.Error</div>
    }

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <h1>@Resource.Register</h1>
        
            <div>
                @Html.LabelFor(x => x.FullNameArabic)
                @Html.TextBoxFor(x => x.FullNameArabic, new { @class = "form-control", placeholder = @Resource.FullNameArabic })
                @Html.ValidationMessageFor(x => x.FullNameArabic)

            </div>
            <div>
                @Html.LabelFor(x => x.FullNameEnglish)
                @Html.TextBoxFor(x => x.FullNameEnglish, new { @class = "form-control", placeholder = @Resource.FullNameEnglish })
                @Html.ValidationMessageFor(x => x.FullNameEnglish)
            </div>
            <div>
                @Html.LabelFor(x => x.UserName)
                @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", placeholder = @Resource.UserName })
                @Html.ValidationMessageFor(x => x.UserName)
            </div>
            <div>
                @Html.LabelFor(x => x.MobileNumber)
                @Html.TextBoxFor(x => x.MobileNumber, new { @class = "form-control", placeholder = @Resource.MobileNumber })
                @Html.ValidationMessageFor(x => x.MobileNumber)
            </div>
           
            <div>
                @Html.LabelFor(x => x.BirthDate)
                @Html.TextBoxFor(x => x.BirthDate, new { @class = "form-control", placeholder = @Resource.BirthDate })
                @Html.ValidationMessageFor(x => x.BirthDate)
            </div>
          
            @*<li>
                @Html.LabelFor(x => x.IsActive)
                @Html.TextBoxFor(x => x.IsActive)
                @Html.ValidationMessageFor(x => x.IsActive)
            </li>
            <li>
                @Html.LabelFor(x => x.CreatedDate)
                @Html.TextBoxFor(x => x.CreatedDate)
                @Html.ValidationMessageFor(x => x.CreatedDate)
            </li>
            <li>
                @Html.LabelFor(x => x.CreatedBy)
                @Html.TextBoxFor(x => x.CreatedBy)
                @Html.ValidationMessageFor(x => x.CreatedBy)
            </li>*@
                           


            <div>
                @Html.LabelFor(x => x.Gender)
                <div class="form-group">

                    <div class="radio-inline">

                        @Html.RadioButton("gender", "false", true,

                            new { id = "IsMale" })Male

                    </div>

                    <div class="radio-inline">

                        @Html.RadioButton("gender", "true",false,

                             new { id = "IsFemale" })Female

                    </div>
                    @Html.ValidationMessageFor(x=>x.Gender)
                </div>
               
            </div>
            <div>
                @Html.LabelFor(x => x.Email)
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = @Resource.Email })
                @Html.ValidationMessageFor(x => x.Email)
            </div>
            <div>
                @Html.LabelFor(x => x.Password)
                @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = @Resource.Password })
                @Html.ValidationMessageFor(x => x.Password)
            </div>
            <div>
                @Html.LabelFor(x => x.Confirm)
                @Html.PasswordFor(x => x.Confirm, new { @class = "form-control", placeholder = @Resource.Confirm })
                @Html.ValidationMessageFor(x => x.Confirm)
            </div>
        <br /> <br />

            <div>
                <input type="submit" value="@Resource.signup" class="btn btn-primary btn-lg" /> <label>@Resource.or</label> <a href="/" @*class="cancel"*@ class="btn btn-primary btn-lg active" role="button" aria-pressed="true">@Resource.cancel</a>
            </div>
    </fieldset>



    <div>
        @Html.ActionLink("Back to List", "Signup")
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
