@using R
@model MvcApplication1.Models.SigninModel


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@Resource.Signin</legend>
        <ul>
            <li>
                @Html.LabelFor(x => x.UserName)
                @Html.TextBoxFor(x => x.UserName)
                @Html.ValidationMessageFor(x => x.UserName)

            </li>


            <li>
                @Html.LabelFor(x => x.Password)
                @Html.PasswordFor(x => x.Password)
                @Html.ValidationMessageFor(x => x.Password)
            </li>
          

            @*<li>
                <input type="submit" value="Signin" />
            </li>*@
    
    <li>
        <input type="submit" value="@Resource.submit"/>
        </li>
</ul>
</fieldset>

@*<div>
    @Html.ActionLink("Back to Home", "Index")
</div>*@
}
@section Scripts {
    @*Scripts.Render("~/bundles/jqueryval")*@
}