@using R
@model HealthyLineProject.Models.ContactUsModel

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset id="cont">
        <h1> @Resource.Contact </h1>
            <div>
                @Html.LabelFor(x => x.FullNameArabic)
                @Html.TextBoxFor(x => x.FullNameArabic, new { @class = "form-control", placeholder = @Resource.FullNameArabic })
            </div>

            <div>
                @Html.LabelFor(x => x.FullNameEnglish)
                @Html.TextBoxFor(x => x.FullNameEnglish, new { @class = "form-control", placeholder = @Resource.FullNameEnglish })
            </div>
            <div>
                @Html.LabelFor(x => x.UserEmail)
                @Html.TextBoxFor(x => x.UserEmail, new { @class = "form-control", placeholder = @Resource.UserEmail })
            </div>
            <div>
                @Html.LabelFor(x => x.UserName)
                @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", placeholder = @Resource.UserName })
            </div>
            <div>
                @Html.LabelFor(x => x.Messaage)
                @Html.TextAreaFor(x => x.Messaage, new { @class = "form-control", placeholder = @Resource.Messaage })
            </div>
        <br />
            <div>
                <input type="submit" value="@Resource.Send "  class="btn btn-danger btn-lg" />
</div>

    </fieldset>
    @*<div>
        @Html.ActionLink("Back to List", "Contact")
    </div>*@
}
@section Scripts {
    @*Scripts.Render("~/bundles/jqueryval")*@
}